[2018-05-31 13:01] huntallcott opened #1 "Import code and prepare data in new file structure"
@handbury @mollyschnell @rakhkovs @diamondr @moosedube ,

The goal of this issue is to get the code set up and prepare the data in the new file structure so that everybody can start using it. There are continued delays with Booth IT, but JP is working on it.
I am about to push the existing ADD code and lyx file to the master repository. I then will modify it further to make it work in the new file

[2018-05-31 13:23] huntallcott opened #2 "Get GitHub set up"
@diamondr @mollyschnell @handbury @moosedube @rakhkovs ,
The goal of this issue is to get GitHub set up on all of your local computers, so that you can modify code and eventually the lyx file.
As of now you have a GitHub username and the dropbox folder (which has our data and other materials, but not the code or lyx file), but you may or may not have a git folder setup that has our code and lyx fi

[2018-05-31 13:25] huntallcott opened #3 "Revise demand model"
@handbury @mollyschnell @rakhkovs @diamondr @moosedube ,
The goal of this issue is to revise the demand model. I’ve assigned this to Rebecca and JP. We can use this thread to post questions, discuss results of that part of the paper, etc.

[2018-06-01 21:22] huntallcott opened #4 "Update/impute nutrition facts through 2016"
@diamondr ,
Hi. I'm updating our code and data through 2016. There is a file called Dropbox/FoodDeserts/Externals/Calculations/NutritionFacts/hms_upcs_with_nut_facts_imputed.dta, which I pulled over (along with everything else) from our old ADD directory.
I think that this does not include any UPCs added more recently, and since we are adding 2016 data, there will be some missing matches.
It was p

[2018-06-02 14:12] diamondr commented on #4
Will take a look

[2018-06-04 15:51] huntallcott opened #5 "Determine whether to use TDLinx or ADD entry data"
@diamondr @handbury @mollyschnell @moosedube @rakhkovs ,
The goal of this issue is to determine whether to use the TDLinx or ADD store entry data for the store entry event studies.

As a reminder of what ADD did: Nielsen wouldn't allow us to disclose the retailer names in the paper, but ADD use entries from four supermarkets/supercenters: Walmart Supercenter (retailer_code 6920), Target Super (692

[2018-06-04 18:04] rakhkovs commented on #5
Hi Hunt,

I checked this issue. Walmart should be in TDLinx prior to 2015. I think
the issue is that prior to 2015 it was spelled as "Wal Mart"  and from 2015
it became "Walmart". Could you please check if you can find more stores
with alternative spelling.

Ilya

On Mon, Jun 4, 2018 at 11:51 AM, Hunt Allcott <notifications@github.com>
wrote:

[2018-06-04 19:54] huntallcott commented on #5
Got it. Just for my understanding, what chains are supposed to be in the data for which years? Is this, for example, *all* retail establishments in the lower 48 states from the channels listed in column F/G of C:\Users\Hunt\Dropbox\FoodDeserts\Externals\Data\StoreEntryExit\TDLinx_storelist_082616.csv?

[2018-06-04 20:19] rakhkovs commented on #5
Hunt,

This is a difficult question. We have two datasets of store "universe"
TDLinx and STARS (SNAP authorized stores). When we tried to merge the two
the overlap was about 90%, so we treated both as a universe measure. We are
not sure which chains are not in TDLinx. I suspect the gaps in coverage
will be in small/independent retailers, but without a better measurement of
small/independent stores

[2018-06-06 19:51] huntallcott commented on #5
We just agreed to use TDLinx data. Closing this issue.

[2018-06-06 19:51] #5 closed

[2018-06-07 20:00] huntallcott opened #6 "Within-local market analysis"
The goal of this issue is to prepare the analysis of healthy eating by income conditional on store, in the new data structure. @handbury I think will take the lead.

Jessie, I have created a file called $Externals/Calculations/Homescan/HHxYearxStore.dta, which has key household-year-store and key variable being Health Index. Note that $Externals is a file path that you should define for your compu

[2018-06-07 20:31] handbury commented on #6
Thanks Hunt.

I agree that keeping the analysis here graphical and as in-line with what your draft already has so as to minimize re-drafting work.  I plan on:
1. adding a set of points to the current figure 2 but using data residualized from hh-zip fixed effects
2. replicating stylized fact figure 2 for the HH-year-store level data and adding to these figures a set of points using data residualize

[2018-06-08 09:55] handbury commented on #6
@huntallcott: is there a document that outlines which datasets are created in what code - or an easy way for me to figure this out?  For example, it looks like Figure 2 is created in GitHub\FoodDeserts\Code\Analysis\StylizedFacts\StylizedFacts.do using $Externals/Calculations/Homescan/NominalIncome.dta.  Which do file creates $Externals/Calculations/Homescan/NominalIncome.dta?

Thanks,

Jessie

[2018-06-08 11:43] huntallcott commented on #6
@handbury:
Thanks for jumping into this. There is a semi-easy way to figure this out, using two pieces of info.
1. As described [here](https://github.com/huntallcott/lab/wiki/Folder-Organization), the folders are generally (although due to my errors, sometimes imperfectly) aligned, so that dta files in Calculations/Homescan/ are created by do files in Code/DataPrep/Homescan/.
2. The entire routine

[2018-06-08 17:18] handbury commented on #6
@huntallcott Thanks for the background on the coding structure (you might have directed us there before, sorry if I missed it).

In any case, I did as you suggested and started a WithinLocationAnalysis program.  The plots (as well as the data underlying them, if we want to reference std errors, for example) go to Analysis/Output/ReducedForm/Figures.

A few points worth noting:

- I define a market

[2018-06-08 19:23] huntallcott commented on #6
Stunning figures. Amazing how closely these line up.
I changed the output directory, I hope that's OK.

Do you want to write in the text of this into the beginning of Section 4 of the lyx file (before the other two "reduced form" analyses) so that we can see how it looks together?
NB the lyx file won't compile until I change the figure file paths to the GitHub system, I'll try to do that ASAP.

[2018-06-08 20:07] handbury commented on #6
@huntallcott Yes, I'll write this up by early next week.  Let me know if you have any thoughts on the issues I flagged above (or can add the whole grain variable to the household-year-store data).

@mollyschnell Hope that the travel home was smooth.  Just wanted to flag these new results (see the thread above). Hunt's updated the data, so we've implemented the cross-sectional analysis (up to, but

[2018-06-11 13:54] huntallcott commented on #3
@moosedube emailed saying he's been working on this. Moving to GitHub so that it's all in one place:
**
Sorry for delay on this. Our famous demand model strikes again. A challenge with this subsidy is that if it is bigger than the actual prices, we end up with negative calorie consumption levels in some product groups.  This is because of price enters the denominator of calorie demand linearly.
So

[2018-06-11 13:55] huntallcott commented on #3
@moosedube , can I propose a simpler solution? As a practical matter, a government will never be able to subsidize a price to below zero. And I think we agreed last week on a subsidy that scaled in the Health Index of each group, instead of minimizing total subsidy paid.

So I would redefine the policy as:
The subsidy for product group g equals min(p,H_g * s), where p is the price of that product

[2018-06-11 14:40] moosedube commented on #3
yup.  That's basically what I am doing.  but recall that h_g*s is supposed to equate the corresponding health index among the poor with the health index they would have obtained under the "access to nutrients and prices of the rich" counter-factual.  I don't think there is a unique solution and I was trying to compute the one that minimizes total spending -- "s" is per calorie, like prices. So the

[2018-06-11 14:50] diamondr commented on #3
I wonder if we can fix this zeros issuse by setting the subisdy as being a
percentages discount on price per calorie proportional to the health index.
This would never lead to negative prices.

On Mon, Jun 11, 2018 at 7:40 AM moosedube <notifications@github.com> wrote:

[2018-06-11 14:50] handbury commented on #3
@huntallcott, @moosedube: From our discussion last week, I had thought that the only margin along which households could improve their health index was to substitute across product groups - which would imply that each product group-specific health index, H_g, was fixed.  If that isn't the case, then how about basing the subsidy on some measure of the "capacity" of a product group for improving the

[2018-06-11 15:32] rakhkovs commented on #3
There are some tricky issues with the subsidy. The producers would probably increase prices of the subsidized products. Should we just assume that it won't happen or we will look at the upper bound of program effectiveness? Would the subsidy use SNAP program to separate consumers by income?  If this is the case, there should be a fixed subsidy maximum available to each consumer, otherwise we will

[2018-06-11 20:47] handbury commented on #6
Preliminary write-up is now in Output/Lyx/WithinLocationAnalysis.  I'm not sure where the rest of the draft is so please move around as necessary.

@huntallcott and @mollyschnell - One issue that is worth us discussing:  the results here look different to the HRS results.  The "raw" reduction in the gap when controlling for zip fixed effects looks similar, but the results are different when we lim

[2018-06-11 21:07] moosedube commented on #3
The demand model does not capture the budgeting across groups. Rather, it sets the optimal calorie consumption within each group.  So it’s true that the subsidy will change calorie levels across groups. But it does not explicitly model a group-level budgeting decision.

I will try to implement Rebecca’s suggestion tomorrow after I teach.

Best,

JP

From: handbury <notifications@github.com>
Sent:

[2018-06-12 20:49] handbury commented on #6
@huntallcott FYI: Homescan panelist tracts are saved in Dropbox under Externals\Data\Nielsen\Homescan\CensusTracts\from_usda_2002_2011

[2018-06-12 22:34] handbury commented on #6
Let me see if we have beyond 2010 elsewhere.  I think that we inferred 2011 household tracts from their 2010 ones though.

On Jun 12, 2018, at 6:24 PM, Hunt Allcott <notifications@github.com<mailto:notifications@github.com>> wrote:

@handbury<https://github.com/handbury> I see only through 2010, is that correct?
Also I deleted the 2002 and 2003 files; I presume that's OK with you.

—
You are recei

[2018-06-12 23:04] huntallcott commented on #6
@handbury I remade the Census tract dataset and Prepped-Household-Panel.dta.
gisjoin is the Census tract.
HaveTract = 1 is an indicator for whether we have the census tract. It is 0 for panel year 2012-2016 always, and occasionally 0 before that because I make missing Census tracts if they are inconsistent with zip codes per PrepHouseholdCensusTracts.do.
So you can go ahead with the analysis we di

[2018-06-13 03:54] handbury commented on #6
@huntallcott and @mollyschnell The results with tract x year (instead of zip x year) controls are the very similar for the disparity between the highest and lowest income group, but quite different (and not nearly as clean) for the disparities with other income groups.  The main plot is in a comment at the end of the lyx file, and attached.
[HealthIndex_Income_gisjoin_store_code_uc_x_yr_minexpsh50

[2018-06-13 21:13] huntallcott commented on #6
@handbury thanks for this. It seems like it would be useful to determine what drives these differences. Just to clarify, did you use only the actual tracts for 2004-2011, or did you use the imputed tracts and zips for the full sample?
It may also be useful to see how this looks with a nutrient score instead of the Health Index. This additional scores can be added in Code/DataPrep/Homescan/InsertHe

[2018-06-14 03:28] handbury commented on #6
@huntallcott I used actual tracts for 2004-2011: the tract FE analysis is based on the "HaveTract==1" subsample.  Some of the difference is driven by this sample change (see the updated lyx file for the zip code fe plot using the HaveTract==1 sample), but not all.

The HRS "nutrient scores" are calculated at the monthly frequency and only through 2011.  Since we're planning on adding something clo

[2018-06-14 16:45] diamondr commented on #1
How do I reference an issue when I commit?

[2018-06-14 17:16] huntallcott commented on #1
Write the issue number preceded by # in your commit message, as in the example I'm pasting below:
![image](https://user-images.githubusercontent.com/23505296/41427490-1ff2f8fc-6fd5-11e8-8ece-8957d67bd801.png)

[2018-06-14 22:28] huntallcott commented on #3
@diamondr , following up on our conversation this morning, here was the to-do list I had on the demand model:
1. Per our discussions with @handbury, we are going to use household sample average real income for the stylized facts. This should be a better measure of SES in the presence of measurement error or idiosyncratic fluctuations in household income. I think that we should also use that for ge

[2018-06-14 23:41] diamondr commented on #3
Great, will do.

On Thu, Jun 14, 2018 at 3:29 PM Hunt Allcott <notifications@github.com>
wrote:

[2018-06-15 15:08] huntallcott opened #7 "Finalize health measures"
@diamondr @mollyschnell @rakhkovs @handbury ,
The goal of this Issue is to finalize the health measures.
I have drafted a script called github/FoodDeserts/Code/DataPrep/Homescan/InsertHealthMeasures.do that takes the nutrient consumption and raw Health Index by household and turns this into a raw nutrient score and then normalizes both Health Index and Nutrient Score into mean 0, standard deviatio

[2018-06-15 17:55] huntallcott opened #8 "Decide whether to use nominal income bins or sample average real income bins"
@handbury @mollyschnell @diamondr ,
A few weeks ago we discussed whether to use nominal income bins vs. sample average real income bins for stylized facts, which will then affect how we split the sample for the demand model as discussed last night in #3.

ADD originally used current-year nominal income to group households because those allow us to use the bins we get directly from Nielsen. If we d

[2018-06-15 18:11] diamondr commented on #8
Ok.

On Fri, Jun 15, 2018 at 10:55 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-06-15 18:15] handbury commented on #8
Sounds good.

On Jun 15, 2018, at 2:11 PM, diamondr <notifications@github.com<mailto:notifications@github.com>> wrote:

Ok.

On Fri, Jun 15, 2018 at 10:55 AM Hunt Allcott <notifications@github.com<mailto:notifications@github.com>>
wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/huntallcott/FoodDeserts/issues/8#issuecom

[2018-06-15 18:30] mollyschnell commented on #8
Sounds good to me as well.

[2018-06-15 18:36] huntallcott commented on #3
@diamondr per our conversation in #8, we will use nominal income bins, so I think that the demand model "quartiles" will cut off at 25k, 50k, and 70k.

[2018-06-15 18:36] #8 closed

[2018-06-15 19:10] handbury commented on #7
@huntallcott I took a quick look and a few outliers seem to be at fault here.  If you drop the top and bottom percentile of the raw nutrient score before normalizing (by, for example, adding the code below to the bottom of the InsertRawNutrientScore subprogram) the scores look more correlated and (some) explanatory power is restored:

![image](https://user-images.githubusercontent.com/39570526/414

[2018-06-15 19:28] huntallcott opened #9 "Store entry event study"
The goal of this issue is to carry out and discuss the revised store entry event study.
@handbury and I agreed earlier this week that at least to start, we will replicate ADD's Figure 5 with TDLinx data.
@handbury you have posted the TDLinx store list on dropbox. The easy thing to do is just limit to the sample with stdlinxyear=2016 and use the Date_Added as the entry date for all stores. But didn

[2018-06-15 19:31] huntallcott commented on #7
@handbury , got it. This makes sense, especially given the squares. But is this what you did in your paper, or that was not necessary?
Do you have any other data cleaning that you would recommend to construct nutrient scores?

[2018-06-15 20:18] handbury commented on #7
@huntallcott , we dropped:
-  any household-month that had at least one purchase with non-zero calories in each of the three weeks in the month
- nutrient scores that are more than twice the distance between the 50th and 90th percentiles from the median (though we ran a simpler version dropping just the 1st and 99th percentiles for robustness)
- households who either qualify for WIC, SNAP, or redu

[2018-06-15 20:45] huntallcott commented on #7
@handbury great.
The InSample variable drops observations where households don't buy very many calories, so I think we are good there.
I winsorized the nutrient score (instead of dropping outliers) in revised code.

[2018-06-15 21:22] handbury commented on #9
@huntallcott I have pulled out the code that we used to identify potential M&A activity/relocations/replacements.  It's in the attached code.

The code reads in two datasets:
1. USDAJune2015Changes.txt: from the USDA listing stores whose characteristics changed in the TDLinx sample (indicating, say, a merger or acquisition).
2. tdlinx_blockids.dta: a datasaet where we filled in the block id variab

[2018-06-15 23:51] diamondr commented on #4
The imputation code is up to date and run through 2016.

[2018-06-15 23:51] #4 closed

[2018-06-17 16:43] huntallcott commented on #9
@handbury quick follow-up. I see the files on dropbox but don't see any new code in GitHub's Code/DataPrep/Supply folder. I looked in the [history](https://github.com/huntallcott/FoodDeserts/commits/master/Code/DataPrep/Supply), and I don't think you pushed anything to the master ever.
Can you double check that you pushed to the master? You have to both "commit" (the blue bar at bottom left of Git

[2018-06-17 16:47] handbury commented on #9
@huntallcott Sorry about that.  I've pushed the commit through.

[2018-06-18 11:32] huntallcott commented on #4
@diamondr thanks for doing this. Just to double-check, we should now re-make HHxGroup for the demand estimates given the new nutrition facts. Do you want to do that or should I?

[2018-06-18 14:36] diamondr commented on #4
Already done!

On Mon, Jun 18, 2018 at 4:32 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-06-18 16:57] huntallcott commented on #9
@handbury the file breaks on what is now line 294:
`merge m:1 sblockid prevyear using `tempblock', keep(1 3)`
I checked and I'm not sure that tempblock is created in the same script. Could you take a look? I'm not editing the file, so you can edit anywhere in the text.

[2018-06-18 17:06] huntallcott commented on #9
Also @handbury in what is now line 327 there is a local called `dataset' that I think will not work. Can you look at that as well?
Many thanks and sorry for my confusion in making this work.

[2018-06-18 18:48] handbury commented on #9
@huntallcott (@rakhkovs and @mollyschnell): this stdlinxscd-store_code_uc concordance is derived from a USDA version of the Homescan data that contains the stdlinxscd for each store in the data (now in Externals\Data\Nielsen\Homescan\td_hm.dta) .  I expect that you can use this data to create a cleaner store_code_uc-stdlinxscd concordance than we were able to, since we only observed store 5-digit

[2018-06-18 19:29] huntallcott commented on #9
@handbury , in Externals\Data\Nielsen\Homescan\td_hm.dta, I think that storename is the retailer_code, not the store_code_uc.
Let me email JP and Rebecca to see if they have another concordance, possibly one that goes through 2016.

[2018-06-18 19:33] handbury commented on #9
@huntallcott - yes, StoreName is the retailer, not store_code_uc (which is a Kilts-created variable, so not in the USDA version of the Homescan data).  We collapse td_hm.dta to the purchase date, household, store name (retailer) level and merge it into the Kilts HMS data to get the store_code_uc, dropping cases where we see a household shopping in two outlets of the same retailer on the same day.

[2018-06-18 19:41] rakhkovs commented on #9
@huntallcott For early to mid-2000s Nielsen matched its stores with TDLinx. In the Homescan form consumers only write the name of the store. If a consumer shopped in Safeway, Nielsen does not know which Safeway it was. Nielsen matched the sale with the nearest Safeway to the consumer's home from TDLinx. For the late 2000s when Nielsen stopped providing us the TDLinx codes we followed the same proc

[2018-06-18 20:01] huntallcott commented on #9
I found a tdlinx-store_code_uc concordance from Rebecca or JP that matches about 90% of the entries.

[2018-06-18 20:04] handbury commented on #9
Great!

From: Hunt Allcott <notifications@github.com>
Sent: Monday, June 18, 2018 4:01 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Handbury, Jessie <handbury@wharton.upenn.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Store entry event study (#9)

I found a tdlinx-store_code_uc concordance from Rebecca or JP that matches about 90% of the

[2018-06-18 20:13] huntallcott commented on #9
@handbury you noted above that the file limits attention to 2006-2011. I just changed line 288 of the current code to read:
keep if entry_year>=2004 & entry_year<=$MaxYear

The file runs fine, but I just wanted to confirm: is that OK with you or will this generate some other problem that I might not foresee, in terms of the data cleaning or something else?

[2018-06-18 20:33] huntallcott commented on #9
@handbury with apologies I don't fully understand that. Would you be willing to pull down the most recent code from the master and check whether the block IDs are "filled in"? Would be a big help.
One thing I did change is line 263, now reading keep if year >= 2004 & year <= $MaxYear.

[2018-06-18 20:46] handbury commented on #9
@huntallcott No problem.  The merge is pretty complete.  We identify blockids for 1245656 out of 1273043 TDLinx store listings.  FYI: the sblockidraw is the block id that was provided in the raw TDLinx data; sblockid is the 2010 block id that we pulled based on the lat/long coordinates provided.

[2018-06-19 01:46] huntallcott opened #10 "Re-run drivetime script"
@diamondr , last week I think we talked about you re-running the drive time perl script. With @handbury's help, I have prepped the data and it is ready for you to run.
Please see $Externals/Calculations/Homescan/StoreHouseStoreHouseLatLong.csv.
Then you are supposed to deliver $Externals/Data/DriveTime/drivetimes.csv, hopefully in the same format as the file was from a few years ago in our old fil

[2018-06-19 04:03] diamondr commented on #10
This is running.

On Mon, Jun 18, 2018 at 6:46 PM Hunt Allcott <notifications@github.com>
wrote:

[2018-06-19 12:40] huntallcott commented on #10
@diamondr thanks for doing this. Quick questions:
1. Is there still a restriction on the number of queries per day? If so, how long will this take?
2. I am looking at drivetimes_2018.csv which I think you are creating. Am I correct that the column headers are wrong? The first column is Store_Location_ID, not the second column?

Thanks again.

[2018-06-19 18:33] diamondr commented on #10
Oops yes, you are correct about column headers. Also the cap is 100k queries per calendar day. We have 200k right now. I'll kick it off again tomorrow. we have 2.6 million in the file... Are you restricting the store pairs to nearby stores only? Could we restrict to only stores within 50 miles?

[2018-06-19 18:36] diamondr commented on #10
Ah I see you're already restricting to 15 miles or less.

[2018-06-19 18:48] diamondr commented on #10
I just looked more into the google caps and it appears the caps are higher now than they used to be. It will cost about $2000 to do all this geocoding, but tis running now.

[2018-06-19 18:57] huntallcott commented on #7
@rakhkovs, do you or anyone at USDA have a way to calculate the HEI in the Homescan data? I was looking into calculating HEI as a way of comparing to the linear "Health Index", and I think we'd need to know, for each UPC (or at worst, on average in a product module), how much of each "[component](https://epi.grants.cancer.gov/hei/hei-2015-table1.html)" there is. I don't quite see how to do this fo

[2018-06-19 19:04] huntallcott commented on #7
If it's too hard to calculate HEI in Homescan, I wonder if it would be possible to construct HRS's Table 3 (using NHANES) with the linear "Health Index" for use in the updated appendix.
It would also be useful to have a correlation table between Health Index, nutrient score, and HEI using NHANES.
But if we can calculate in Homescan, that would be better.
Also, I have diabetes and obesity measures

[2018-06-19 21:34] handbury commented on #6
@huntallcott @mollyschnell In the attached document, I replicated all of this analysis using:
1. the nutrient score in place of the health index and
2. years of education (exp(lnEduc) - presumably the household head years of education since it's in round numbers) in place of household income - note that here I drop households with education < 10 years - there are only a few thousand of them and th

[2018-06-20 12:16] huntallcott commented on #6
I can talk at 9AM. Call me at 617.256.9282? What if we use the meeting notes [here](https://docs.google.com/document/d/1QqaancZFShrx5ZY1-5nZne6v-LYs5E8sN4XXd_F4EmY/edit?usp=sharing)?

[2018-06-20 15:42] huntallcott opened #11 "Time-series analysis of responses to within-store supply changes"
The goal of this issue is to produce the time-series analysis of how households respond to within-store supply changes.
I believe that @mollyschnell is taking the lead.

From our meeting notes today:
Proposed IV regression: Health Index on Calorie-weighted local RMS Health Index, instrumented with PREDICTED Calorie-weighted local RMS health index, where the prediction is based on calorie shares ov

[2018-06-20 20:19] moosedube commented on #3
I have been playing around with the subsidy exercise using the demand estimates from this past spring.  It should be easy to apply the same code to the new demand estimates once they are ready.

I define the subsidy as a fraction of the price-per-calorie in a given product group.  I use a logit transformation to ensure it lies between 0 and 1.  I then solve for the minimum total subsidy such that

[2018-06-21 01:56] huntallcott commented on #3
@moosedube ,
Thank you for your work on this and for prioritizing this while you're here in the U.S.
Can I suggest one additional subsidy structure? From Equation (15) in the current lyx file, fitted demand would be
`lnY_ijt = -ln(p_ijt - S_j - sum ... -\xi) + ...`
where S_j is the subsidy for product group j.
Then the subsidy is
`S_j = alpha * H_1j`
where H_1j is the Health Index per 1000 calorie

[2018-06-21 11:53] moosedube commented on #3
Hunt, that is where I started a couple of weeks ago.  The problem was that the Health index changes sign, which is why we adopted the proportion approach.  But, I can modify your approach as follows
S_j = alpha * (H_1j+1)
where I translate the Health Index by "1" to make all groups positive.  This will ensure S_j>0.

Unfortunately, we still have the same problem. I cannot find a value of alpha tha

[2018-06-21 12:35] huntallcott commented on #3
Sorry, yes, I didn't clarify about the negative HealthIndex. I would think that we want to instead set the subsidy so that it is zero for the least healthy group and positive for all others.
So if the least healthy group has HealthIndex = H_1min < 0, then
S_j = alpha * (H_1j - H_1min)

(The reason is that the subsidy adding 1 instead of H_1min will be unnecessarily costly relative to this subsidy.

[2018-06-21 15:50] moosedube commented on #3
I think the confusion is that the Health Index associated with subsidized calorie demand is a non-linear function of the subsidy itself.  The subsidy itself is linear in the Health Index supplied (by group) but that amount enters calorie demand non-linearly.

[2018-06-22 12:51] handbury commented on #6
@huntallcott @mollyschnell I've implemented the changes that we discussed the other day (no longer normalizing relative to the lowest SE group; adding household size and age dummy controls to all income disparity analysis; calculating the >70K vs <25K disparity reduction).  The results are here and look similar to what we had before, though smoother.

[WithinLocationAnalysis_AppendixFigures.pdf](h

[2018-06-25 13:36] huntallcott commented on #6
@handbury ,
Sorry for the delay. I was at a conference where email is not encouraged from Thursday night through yesterday. Here are some opinions:
1. Either of the figure 3's seems pretty OK to me.
2. I do lean toward using projection factors for these figures.
3. I don't have a strong opinion on also weighting by calories. One thing to consider is
`gen WeightedCalories = Calories*projection_fact

[2018-06-25 13:44] huntallcott commented on #10
@diamondr , can you give an update on this and how it's looking? I think the original file has 2.6 million rows and the current csv file has 1.0 million rows, so not done yet? Just checking in. Thanks.

[2018-06-25 13:56] huntallcott commented on #11
@mollyschnell thank you for working on this. Again apologies for my late response due to email restrictions over the past few days.
On your point a: I don't think you need to exclude movers. I would use household x Census tract fixed effects.
`egen household_location = group(household_code CTractGroup)`
then `absorb(household_location)`
On your versions: my personal opinion is to favor version (1)

[2018-06-25 14:44] diamondr commented on #10
We're at 1.6 mill. I think right now. It crashes randomly and then i have
to manually restart. It should be done by the end to the week if not sooner.

On Mon, Jun 25, 2018 at 6:44 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-06-26 20:30] diamondr commented on #10
Done!

[2018-06-26 20:30] #10 closed

[2018-06-26 21:18] huntallcott commented on #10
Thanks for doing this, I really appreciate it.

[2018-06-28 12:03] huntallcott commented on #9
@handbury @mollyschnell @diamondr ,
First, thanks to @diamondr for re-doing drive times, to @handbury for working on the TDLinx entry list, and to @moosedube for getting the appropriate store_code_ucs.
I am now re-running the store entry event study with the data. I need a few more hours for some things, but you can see the updated version of the main figure [here](https://github.com/huntallcott/F

[2018-06-28 13:32] handbury commented on #6
@huntallcott For the sake of consistency, let's stick with the projection factor weights and using calorie need as the measure of household size (though I will keep the label as "Household Size and Age Controls" to make it clear that we're using calorie need as a household size control).  I'll update the figures accordingly.

In response to your specific comments above:

1. Would you prefer to pre

[2018-06-28 13:45] handbury commented on #9
@huntallcott It's possible that measurement error in the trips store codes is biasing the entrant expenditures downwards.  Since Nielsen attributes the nearest store with the same retailer code to any given trip, it probably makes sense to switch it to looking at "entrant chain" expenditures to check.

I also think that it's worthwhile looking at food deserts independently.  If grocery/super/club

[2018-06-29 11:32] huntallcott commented on #6
@handbury , responses in your numbering system:
1. What about using CTractGroup, which uses the full sample but is mostly tracts? I know I've gone back and forth about this, but I also note that these are the same location IDs that we are using in the store entry analysis (household x CTractGroup fixed effects) and in @mollyschnell's #11, so it seems internally consistent and easy to explain if we

[2018-06-29 11:33] huntallcott commented on #9
@handbury , great, thanks, and am running these now. These take a bit of time but I will have an update over the weekend.

[2018-06-29 16:18] huntallcott commented on #7
@rakhkovs, re-pinging you on the question I posted about 10 days ago. Do you or anyone at USDA have a way to calculate the HEI in the Homescan data? Many thanks.

[2018-06-29 16:54] handbury commented on #6
@huntallcott I think that its much cleaner to use zip codes or tracts, rather than a mix of the two for this analysis.  There will be households who live in the same zip but we observe the tract for one and not the other, for example, so we will effectively lose them from the identifying sample here.  It makes more sense in the entry and time series analysis where all we are pulling from the zip/t

[2018-06-29 17:15] huntallcott commented on #6
@handbury I don't feel strongly and I defer to you. But a quick follow-up: if the main concern is about the size of the identifying sample, isn't CTractGroup strictly better than tract? And if we are worried about the size of the local market area, isn't tract materially better than zip?
Again, I don't feel strongly and I defer to your expertise, but I just wanted to understand fully.

[2018-06-29 18:20] rakhkovs commented on #7
@huntallcott , sorry I missed the initial request. We merged UPC data from IRI with USDA SR groups which have the information to calculate the HEI. The project is 98%, so the data is usable. The only issue that it uses proprietary UPC dictionary from IRI. So we need to sign a third-party agreement with each person who will have access to the data. These days the IRI can process these agreement in

[2018-06-29 18:24] huntallcott commented on #7
I think it would be good, yes, as long as this won't violate the Kilts user agreement. But if it's not financial support then I think we are OK.
So yes, let's go ahead and do that. Thank you!

[2018-06-29 18:31] rakhkovs commented on #7
OK, unfortunately a lot of people are on vacation now, but we will try to
move as fast as we can.

On Fri, Jun 29, 2018 at 2:24 PM, Hunt Allcott <notifications@github.com>
wrote:

[2018-07-09 17:36] huntallcott commented on #9
@mollyschnell @handbury @diamondr @rakhkovs @moosedube ,
Just a quick update on the entry event study. I have been working over the past few days on improving the retailer name matching between TDLinx and Nielsen. I think that this is figured out and I should have some revised results over the next 48 hours.

[2018-07-10 15:42] huntallcott opened #12 "Revise stylized facts"
@mollyschnell @handbury @diamondr ,
The goal of this issue is to revise the stylized facts section.
In our 6-20-2018 meeting, we agreed to keep the price differences in the appendix, so I will do that.
We also agreed that I would look into residualizing the stylized facts figures of age and Calorie Need, so that income is a better measure of SES. I am doing that now.
I will condense the text a bit

[2018-07-10 20:56] huntallcott commented on #12
@mollyschnell @handbury @diamondr ,
I have updated the stylized facts figures today per the above and just pushed to the master.
@handbury @mollyschnell @diamondr a couple of things to be aware of:
1. I defined a new global called SESCtls that has age and household size (in calorie-equivalent adults). I'm using this to residualize income in order to present income as a measure of SES. @handbury ca

[2018-07-10 21:56] diamondr commented on #12
Ok. I can rerun the model with the new income definitions. The model is
very slow to estimate. Will probably be another week before we get new
estimates.

On Tue, Jul 10, 2018 at 1:56 PM Hunt Allcott <notifications@github.com>
wrote:

[2018-07-11 00:47] huntallcott commented on #12
@diamondr :
1. I am sorry for the change.
2. You might wait on re-estimating in case we discuss further and something else changes.
3. In the interim, I don't think we'll do anything that will change the estimates much, and I wonder if it's worth working on the revised writeup etc. if you have time?
Let me know what you think. Happy to discuss.

[2018-07-11 14:46] mollyschnell commented on #11
@huntallcott @handbury: Some updates on this analysis!

I went back to the HRS data to see what the lead/lag analysis would have looked like there. When the data is annual, we get an effect of contemporaneous supply in a regression with no leads and lags (consistent with the new health index data), but the sample just gets too small once we require leads/ lags to pick anything up in the figures. H

[2018-07-11 18:20] huntallcott commented on #11
@mollyschnell thanks for doing this.
i. Health Index is available at quarterly frequency from $Externals/Calculations/Homescan/HHxQuarter.dta. This is prepared by Code/DataPrep/Homescan/TransactionDataPrep.do, and we use it for the store entry analysis also. Hopefully this will work directly; let me know if questions.
ii. I agree with your logic re: movers and households subject to entry/exit. To

[2018-07-11 18:37] handbury commented on #11
@huntallcott Great that the housheold health index is available at the quarterly frequency.  Are the store indexes available at the quarterly frequency also?

Good idea to include HHxlocation fixed effects.

The concern with dropping all households subject to entry/exit in the TDLinx data is that will exclude most households, right?  We should at least be using a balanced panel of store health ind

[2018-07-11 18:51] huntallcott commented on #11
yes, right, the problem is that the current build doesn’t have health index
by store and quarter.
The thing to do is actually to build this directly from the movement files.
Molly can you give me a call and we can discuss? 617.256.9282.

On Wed, Jul 11, 2018 at 2:37 PM handbury <notifications@github.com> wrote:

--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2018-07-12 01:01] huntallcott commented on #9
Hi all,
I have just finished revising the stylized facts, movers, and entry event study. The figures and tables in the lyx and pdf files, including table/figure notes, are updated. Take a look? If there are no objections, then I will finish revising the text.

[2018-07-12 14:24] mollyschnell commented on #11
@huntallcott I'm traveling in Europe with my family (and getting married!) and won't be online for the next two weeks or so. I believe that @handbury is graciously going to take this over. I'm happy to jump on the phone at some point if that would help.

Molly

[2018-07-12 20:45] rakhkovs commented on #7
USDA has two systems for classification of foods 8 digit FNDDS and 5 digit SR. We linked 380K IRI UPCs with either of the codes. FNDDS codes are designed for 8,536 common foods and beverages. Each food code has detailed nutritional information, which allows us to calculate HEI index.

I uploaded to Github the file I created to calculate HEI from FNDDS codes:

FoodDeserts/Output/DataSection/foodcod

[2018-07-12 23:10] handbury commented on #11
@huntallcott Per our conversation, we'll re-run making sure that we can keep all of the household observations even as we add leads and lags.

We'll also try to isolate what is driving the variation in the store variable:
1. calculate a shift share instrument - using national retail chain changes in health indexes in place of actual retail chain changes when calculating the change in the health in

[2018-07-12 23:10] huntallcott commented on #7
Thanks @rakhkovs this is great. I just talked to Jessie and let me know what next steps after the two of you talk in the morning!

[2018-07-13 15:13] handbury commented on #7
@huntallcott: @rakhkovs just gave me the big picture of what we need to do here.

Later today, Ilya is going to provide code (and associated data requirements) that calculates the HEI for a given bundle of products, each identified by a "food code."

We have a UPC-"food code" concordance (located at Externals\Data\NutritionFacts\USDA\iri_foodcode_link.dta for when you have the TPA signed, Hunt).

[2018-07-13 16:00] rakhkovs commented on #7
@handbury @huntallcott
USDA matched UPCs to food codes for 2015 and 2013. The link file I sent to Jessie was using 2015 data. I will send 2013 shortly. I coded the formula from 2015 Healthy Eating Index found here:
https://epi.grants.cancer.gov/hei/comparing.html
11 of the 12 components of HEI are based on the density of food and nutrients per 1000 kcal, so the index is invariant to the number of

[2018-07-21 15:16] moosedube commented on #3
@diamondr @huntallcott : I have been looking into the massive inflation in our standard errors with the new data. THe means in the new data look quite similar to those in the earlier data.  So one initial thought was that maybe there was a data merge issue (e.g., mistake matching nutrients to households). I think I have ruled this out. I created a script in Rebecca's folder on my Linux box called

[2018-07-22 01:30] huntallcott commented on #3
@moosedube sounds good and thanks for working on this. One note is that the revised data includes the latest years (2015-2016, right?), so this should have even *larger* preference differences between the poor and the rich. I think this is backwards from what you were saying.

[2018-07-23 16:02] rakhkovs commented on #7
@handbury @huntallcott
IRI has approved the third-party agreement with all people involved. @huntallcott is the party responsible for the security of data. I uploaded data to calculate HEI to Dropbox (/home/FoodDeserts/Externals/Data/NutritionFacts/USDA). The data has three parts:
1. Link between UPC and FNDDS/SR foodcode. The variable is just called foodcode in the data.
2. Conversion factors bet

[2018-07-25 20:45] moosedube commented on #3
@huntallcott @diamondr : it looks like there is a small problem with the "year" variable in the estim1.mat. The year variable has a different number of rows than the other variables. This is because the "bad data" were not dropped from this variable in the set_up script.  This means that the year fixed effects may not be properly defined for the estimation.  I have a feeling this also applies to o

[2018-07-27 18:53] huntallcott commented on #3
@moosedube I don't see the intuition for why adding 1-2 more years of data should blow up the standard errors or change things much. Most of the identification should still be coming from the old data, and the new data shouldn't be so different as to vastly change preferences, and so I am wondering if it's possible that there is some other problem.
It seems like we've changed both code and data si

[2018-07-27 19:04] moosedube commented on #3
@huntallcott @diamondr , I don't think the estimation code has been changed. I believe Rebecca just applied the same code to the new data.  Also, as I indicated above, the preferences do change when we include/exclude the three new years.  But, I agree that I find the standard error jump weird.

Rebecca?

[2018-07-28 17:13] handbury commented on #7
@huntallcott  FYI, from @rakhkovs:

I found the latest version of the link between UPCs and Foodcodes it has more observations than the first version. I uploaded the file to Dropbox USDA folder. The file name is iri_foodcode_link_v2.dta. Can I do anything to help with the calculations?

[2018-07-28 17:34] handbury commented on #7
@huntallcott  another FYI:

There is another complication with HEI. Basically, FNNDS/SR codes are based on the food eaten rather than sold. So there is a conversion factors to transform food sold into edible. For example, for watermelon usually 1000 grams sold would be converted into 500 gram edible. On the other hand an ounce of dry coffee can be transformed into a pint of liquid coffee.  Our mos

[2018-07-31 01:30] huntallcott commented on #12
@mollyschnell ,
@handbury said that you were open to looking at the stylized facts section. I had said last week that I thought that upon some reflection, the text I had written in the ADD stylized facts section might have a bit of fluff. Your fresh eyes, plus a sense of what HRS had done, might help.
Do you want to take a look at the stylized facts section and maybe track some changes or leave so

[2018-07-31 01:31] huntallcott commented on #11
@handbury got it, thanks, what you are saying makes sense.
@mollyschnell, it would be best to give me a bit more time to update the text of the reduced form section. However, yes, it would be great if you want to take a look at the stylized facts section. I'll see you in #12.

[2018-07-31 01:35] huntallcott commented on #7
@rakhkovs thanks. I think it's most efficient if I get this started, and then I will ask for your help once I get the code a bit integrated.
I unfortunately need a few days before I can do this. But thanks for offering to help.

[2018-07-31 17:25] moosedube commented on #3
@huntallcott @diamondr

I am attaching all the nutrient estimates using our new code on:
1. Original Data (2006-2013)
2. 2008-2016
3. 2014-2016
4. 2006-2016

Note that standard errors in cases (1) and (3) are similar.  In these two cases, we are simply not pooling as many years. It's true that in practice when we estimate demand curves for CPG we typically use much shorter time frames (e.g., 1-2 y

[2018-07-31 17:27] Rahkovsky commented on #2
@huntallcott @diamondr @handbury @mollyschnell
Hi, I changed my user name to @rahkovsky, sorry for confusion.

[2018-07-31 19:02] handbury commented on #3
A couple of comments (with free disposal of course)...

Since the paper is primarily attempting to explain a cross-sectional fact and we're using the model to run counterfactuals on how changing supply might impact changes in consumption now (or in the future), I think that it makes sense to use more recent (e.g., 2014-2016) demand estimates for the main counterfactuals.

The intertemporal variati

[2018-07-31 20:55] handbury commented on #3
Ah, in that case, I would alter my suggestion to focus on the 2011-2016 demand estimates as the "baseline" estimates used for counterfactuals and then see whether the difference in the 2006-2010 and 2011-2016 estimates explains the change in the disparity in consumption between those two time periods.

[2018-08-01 01:56] huntallcott commented on #3
@moosedube thanks for doing this.
I'm not sure that I agree that the standard errors in the 1st and 3rd set are similar.  For segs 1 and part of 3, they are comparable, but for segs 2 and 4 the SEs are much wider in set 3.
So my read of this is that the second you add 2014-2016 the standard errors are blowing up, regardless of how many other years you included along with those three years.
If this

[2018-08-01 02:48] mollyschnell commented on #12
@huntallcott: Happy to do so! I'll work on streamlining the SF section (tracking changes in the LyX document). Let me know when you think the RF section is good to go, and I can take a look there as well.

[2018-08-01 20:01] moosedube commented on #3
@huntallcott , I actually ran this a couple of weeks ago.  I ran an OLS regression of ln(y) on nutrients and fixed effects (for geography, time and product group).  I did this for our current sample and for the one we used last fall.  Point estimates change a bit. But, unlike the structural model, the standard errors do "not" blow up with the new sample. I can post some results if you want to see

[2018-08-07 21:15] huntallcott commented on #7
@Rahkovsky and @handbury ,
Hi. I am looking at this and have some questions. Anything you can answer ASAP would be great.
1. UPC doesn't match to the Kilts-Nielsen dataset. It looks like if you just drop the rightmost two-digits of the IRI upc, then you get the correct format and can match to Nielsen. But then there are duplicates -- in other words, while most IRI UPCs end in 01, there are a few t

[2018-08-07 21:31] Rahkovsky commented on #7
@handbury @huntallcott
1. The numbers 01, 02 , 03 are the generations. Basically, when the product was reformulated and retains old UPC number the IRI considers it a new generation 02, 03, etc. I think Nielsen does not do that. We have data on the launch year of each generation. I can upload it to Dropbox later today if needed.

2. I think using the launch year we can figure out what generation to

[2018-08-08 00:09] Rahkovsky commented on #7
@handbury @huntallcott , I uploaded data with lunch dates of each UPC generation to dropbox. The file is here: home/FoodDeserts/Externals/Data/NutritionFacts/USDA/Launch_year.dta

[2018-08-08 02:57] huntallcott commented on #3
@moosedube one thing to add.
Upon @handbury's recommendation we changed the nutrition-income stylized facts graphs to have sample average real income on the x-axis and HealthIndex on the y-axis, and present binscatters residual of age indicators, year indicators, and household size. The goal of this was to get a measure of socioeconomic status. Income per se is not ideal because it's confounded wi

[2018-08-08 11:52] #1 closed

[2018-08-08 11:53] #2 closed

[2018-08-08 13:52] Rahkovsky commented on #7
@huntallcott
Please use iri_foodcode_link_v2, it is an improved version with more and better information.

[2018-08-08 14:19] Rahkovsky commented on #12
@huntallcott I tried to update acknowledgment and disclaimer footnote, but I could not push changes to master. I have the following error:

Authentication failed. You may not have permission to access the repository or the repository may have been archived. Open options and verify that you're signed in with an account that has permission to access this repository.

Should I create a fork with my c

[2018-08-08 15:12] handbury commented on #6
@huntallcott @mollyschnell, I have inserted this within-location analysis after the event study results - making that section a broader "reduced-form" section with the event studies and the within-location results.  The idea here being that the event study analysis gives us an estimate of short-run impacts while the within-zip/store analysis tells us about longer run effects.

Another option that

[2018-08-08 15:32] diamondr commented on #3
I will give this a shot!

On Tue, Aug 7, 2018 at 7:57 PM Hunt Allcott <notifications@github.com>
wrote:

[2018-08-08 15:33] huntallcott commented on #7
@Rahkovsky , thanks for your advice on this. Some follow-ups.

1. You said to use iri_foodcode_link_v2. Should we *also* use iri_foodcode_link? I ask because 20% of the UPCs in the two datasets combined are *only* in iri_foodcode_link. I would want to avoid using iri_foodcode_link only if you thought the whole thing were garbage, else I can merge them and use v2 when there are conflicts.

2. Your

[2018-08-08 16:39] Rahkovsky commented on #7
@huntallcott

1. I think it is the best to use  iri_foodcode_link_v2 as a default and update it with iri_foodcode_link_v1 for the UPCs that are not there in v2. iri_foodcode_link_v1  is not garbage, it is made using older data and less rigorous matching process.

2. You are correct. I think I looked at the previous version. The oils were removed in 2015, this is a clearer table for 2015.
https://e

[2018-08-09 14:41] Rahkovsky commented on #7
@huntallcott Added Sugars.
I figured out the sugars issue. Nutritional data uses teaspoons instead of grams for added sugars. See page 12 in https://www.ars.usda.gov/ARSUserFiles/80400530/pdf/fped/FPED_1314.pdf. One tea spoon of sugar is 4 grams (http://msue.anr.msu.edu/news/how_to_convert_grams_of_sugars_into_teaspoons). So, we need to multiply added sugars by 4 to get grams.

It is great that yo

[2018-08-09 15:17] huntallcott commented on #7
Thanks @Rahkovsky . I multiplied by 4.2 instead of 4 because sugar is 23.76, suggesting they are using 4.2 to scale, as written in your msu article. We are all set, no further action needed on the sugar stuff.

[2018-08-09 15:49] huntallcott commented on #7
@Rahkovsky I wanted to double-check some additional units with you.
The units on the [HEI guidelines you sent](https://epi.grants.cancer.gov/hei/hei-2015-table1.html) are cup equivs, ounce equivs, etc. I wanted to make super-sure that there are not other unit conversion issues other than the sugars one that we already resolved.
As one example of my confusion, pita bread (food code 51109100) has 4.

[2018-08-09 21:05] Rahkovsky commented on #7
@huntallcott
Hunt, I believe the code is fine. The HEI formula and the raw data uses ounce equivalence measure instead of ounces.  The ounce equivalent can be less in weight than the actual ounce. On page 38 of https://www.ars.usda.gov/ARSUserFiles/80400530/pdf/fped/FPED_1314.pdf

"For grain products such as breads, bagels, biscuits, muffins, cakes, cookies,
pancakes, and waffles made with flour,

[2018-08-10 15:55] huntallcott commented on #7
Hi @diamondr @mollyschnell @handbury @Rahkovsky @moosedube ,
@Rahkovsky has kindly gotten us the right data to do the [Healthy Eating Index](https://epi.grants.cancer.gov/hei/hei-2015-table1.html), and I now have finished some work comparing the different dietary quality measures. Regardless of what we do, we wanted this for the appendix. See this file, also in dropbox/Notes/
[Comparing dietary qu

[2018-08-10 15:58] huntallcott commented on #7
Sorry all, please look at the pdf file directly on dropbox, not the link I sent in my previous post:
C:\Users\Hunt\Dropbox\FoodDeserts\Notes\Comparing dietary quality measures 8-10-2018.pdf

[2018-08-10 17:05] huntallcott commented on #7
I just spoke with @diamondr . We think that the following is ideal: use the "linear" HEI for the whole paper. (It's very close to the HEI anyway, might make more sense given that we don't observe full diets, and easier to consider results from the demand model.)

I will kick off code to re-collapse RMS, and @diamondr  will make HHxGroup.dta after I fix that code. I will then re-run the reduced for

[2018-08-10 17:48] handbury commented on #7
Thanks for doing all of this work Hunt.  Since we can now compute the HEI for the barcoded data, I think that it makes to use it (or the linear alternative that works for the structural analysis).

From: Hunt Allcott <notifications@github.com>
Sent: Friday, August 10, 2018 1:06 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Handbury, Jessie <handbury@wharton.upenn.edu>; Mentio

[2018-08-10 18:15] huntallcott commented on #3
@diamondr , I have fixed up PrepHHxGroup.do.
You need to run SetGlobals.do first. This defines the $HEINuts variable, which has all the nutrients.
They are in some unit (cups, grams, etc) per 1000 Cal, just like the old ones, and then everything else in PrepHHxGroup should work in the same way, yes?
Take a look, and if you're happy you can go ahead and run it?
You'll need Prepped-UPCs.dta to come

[2018-08-10 18:42] moosedube commented on #7
awesome. Thanks Hunt!  I'm back from Italy on Tuesday and will get back to work on the model component. It seems like this only affects the decomposition, and not the estimation.

[2018-08-10 19:03] diamondr commented on #3
Great! This is running.

On Fri, Aug 10, 2018 at 11:15 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-08-11 12:31] huntallcott commented on #2
@diamondr @mollyschnell @handbury @Rahkovsky @moosedube ,
Quick minor note: it would be helpful to me if we all could continue using Lyx 2.2 for FoodDeserts.lyx. I'm having a bit of a computer bug and I won't be able to compile if we accidentally change it to Lyx 2.3 format, plus if one person moves to Lyx 2.3 then everyone else will have to use 2.3 because it's not backwards-compatible.
So far we

[2018-08-11 12:55] huntallcott commented on #3
@diamondr are you still using Code/DataPrep/Homescan/Prep_HHxGroupRMS.do? If not then let me know and I'll delete it.

[2018-08-11 13:29] huntallcott commented on #7
@Rahkovsky I was wondering if you could do a favor.
We have an appendix Figure A3 that I think is useful, showing how the nutritional quality measures vary by income in the magnet (i.e. random weight) sample for 2004-2006. This is important so that people see that we aren't totally in trouble by not capturing bulk produce.
Moving to HEI means that we want to get HEI into the random weight data.
I'

[2018-08-11 16:56] Rahkovsky commented on #7
Hi Hunt,  I will have few hours tommorow morning. I will try to do what I
can.

On Sat, Aug 11, 2018 at 09:29 Hunt Allcott <notifications@github.com> wrote:

[2018-08-11 17:00] Rahkovsky commented on #7
Hunt, do we have a product code description in the crosswalk data?

 Also, we need to be aware that after Nielsen moved to aggregated RW
recording purchase jumped, suggesting underreporing in 2004-06.

On Sat, Aug 11, 2018 at 09:29 Hunt Allcott <notifications@github.com> wrote:

[2018-08-11 17:29] huntallcott commented on #7
Great, thanks!!

[2018-08-11 17:54] moosedube commented on #2
Can it still be installed?  I no longer have that version as my other projects all upgraded.

Sent from my iPhone

On Aug 11, 2018, at 2:31 PM, Hunt Allcott <notifications@github.com<mailto:notifications@github.com>> wrote:

@diamondr<https://github.com/diamondr> @mollyschnell<https://github.com/mollyschnell> @handbury<https://github.com/handbury> @Rahkovsky<https://github.com/Rahkovsky> @moosedub

[2018-08-12 11:41] Rahkovsky commented on #7
@huntallcott , I finished the crosswalk for the RW categories 2004-06.  I uploaded the file in the same folder: Crosswalk_RandomWeight_to_foodcode_done.csv

[2018-08-12 12:57] huntallcott commented on #7
@Rahkovsky thanks, I appreciate it.
About 13% of the random weight modules have foodcodes that don't match to the nutrition facts from foodcodes.dta. In other words, we don't have nutrition facts for some of the foodcodes you matched to. Is that just the way it has to be, or is there more nutrition facts data and/or other foodcodes you could use?
Thanks again.

[2018-08-12 13:07] Rahkovsky commented on #7
@huntallcott I will take a look.

[2018-08-12 13:41] Rahkovsky commented on #7
Please see file crosswalk2.csv

[2018-08-12 13:55] huntallcott commented on #7
Thanks Ilya! I renamed everything, stored the old one in dropbox/DataStorageCodebooks/ and am off to the races. Will let you know if other questions.

[2018-08-12 18:00] huntallcott commented on #3
@diamondr one more thing:
Please git pull again, let dropbox update Prepped-UPCs.dta, and then again do PrepHHxGroup.do. I substantially improved the imputation of HEI nutrients, and I had also made an error in the units of these nutrients in PrepHHxGroup.do.
Please double-check me on the error. I believe that all of the nutrients should be in some unit (e.g. grams or cups) in the UPC, not in that

[2018-08-13 01:04] huntallcott commented on #6
@handbury this is brilliant. Some thoughts:
1. I don't feel strongly but I have the intuition that this is more than a "stylized fact." This is an insightful empirical strategy generating a pretty tight bound, and we sell ourselves short if we put it as a "stylized fact." You can't do this with NHANES.
2. I moved the figure to the end with the other figures and made a few minor edits but generally

[2018-08-13 11:49] huntallcott commented on #6
@handbury I re-made the HHxYearxStore data and inserted the linear HEI and also the standard (non-linearized) HEI, which is called HEI_per1000Cals.

[2018-08-13 11:56] handbury commented on #6
Great.  Thanks Hunt.  I’ll process this morning.

On Aug 13, 2018, at 7:49 AM, Hunt Allcott <notifications@github.com<mailto:notifications@github.com>> wrote:

@handbury<https://github.com/handbury> I re-made the HHxYearxStore data and inserted the linear HEI and also the standard (non-linearized) HEI, which is called HEI_per1000Cals.

—
You are receiving this because you were mentioned.
Reply to

[2018-08-13 12:34] Rahkovsky commented on #7
@huntallcott @handbury I was thinking about linearized HEI, instead of dropping the fat ratio, we could substitute it with the grams of unsaturated oils like it was done in HEI-2005:

https://epi.grants.cancer.gov/hei/comparing.html

Ilya

[2018-08-13 13:32] huntallcott commented on #7
Thanks for thinking about this.
It looks like oils is approximately the same thing as mono-unsat+poly-unsat?
This doesn't fully solve the problem that sat_fat is still under-penalized. Using the 2005 scale, we could penalize sat fat by 20 points per 30% of calories?
I also think that there is a premium on doing something simple that is easy to explain. I'm working on the writeup right now and will

[2018-08-13 14:45] Rahkovsky commented on #7
@huntallcott you are correct about oils. We are already penalizing for saturated fats if they exceed certain percent it daily calories (last HEI component). The only thing missing is the reward for oils. I would just use oils component from HEI-2005 without other changes. It would be simple, linear and justified by the research that went into HEI-2005.

[2018-08-13 14:51] Rahkovsky commented on #7
Alternative way to mimic the 2015 fat ratio is to use the difference between grams of saturated fats and unsaturated fats.

[2018-08-13 16:52] diamondr commented on #3
Ok great. Will kick this off. Please don't delete Prep_HHxGroupRMS. I
believe I do use that for the counterfactuals in the demand model.

On Sun, Aug 12, 2018 at 11:00 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-08-13 21:52] mollyschnell commented on #12
@huntallcott: I'm in the same position as @moosedube. Do we think there's a good way to deal with this? I'd prefer not to delete 2.3 and reinstall 2.2 since my other projects are in 2.3 (but certainly can if that's the best workaround!).

[2018-08-13 22:33] mollyschnell commented on #12
@huntallcott: Never mind! You can have multiple versions of LyX on your computer, so I reinstalled 2.2 to use with this project. @moosedube: you can download 2.2.4 here https://ftp.lip6.fr/pub/lyx/bin/2.2.4/.

[2018-08-14 12:26] handbury commented on #6
@huntallcott:

I'm having trouble compiling in the older version of lyx but have made these updates so figured worth committing.  Hopefully the section will compile (and look fine) at your end while I figure out the issue.

On the footnote: to keep the income axis easy to interpret, the income brackets were kept constant (i.e., not residualized) and we control for household size and age (with Calo

[2018-08-14 12:39] handbury commented on #6
@huntallcott: I had trouble committing the updates to the within-location section/figure in the draft (when I pulled the recent draft file  I got a "file corrupted" error when trying to open it).  I think that this is because someone is working simultaneously.  I'll try to put these changes in again later but in case you want to get things together before then, I have committed just the section an

[2018-08-14 13:37] huntallcott commented on #6
@handbury great and thanks for working on this. Quick notes:
1. I can compile the main lyx file. I had to change some hard references on your computer to relative references, and the other thing to note it that lyx won't compile if we have a latex commend box inside a footnote. So I fixed those things and am able to compile.
2. I did not merge in the other files currently in Code/Lyx.

[2018-08-14 17:28] huntallcott commented on #6
@handbury @mollyschnell
I looked again at the lyx files. @handbury your commit from this morning accidentally overwrote the changes that Molly and I had made over the past few days. I am going to revert the lyx file to where it was as of last night. I then inserted FoodDeserts_withinlocupdates.lyx into section 4.3 and figure 8.
So I think we are good.
Maybe hold off on more edits for a few hours?

[2018-08-14 17:54] huntallcott commented on #12
@mollyschnell thanks for your great edits.
* I accepted all of them, except that I deleted the numbering (1), (2), (3), (4) when describing figure 1.
* On the map, we (ADD) struggled with that as well, but (i) it's a really nice figure, and (ii) we thought we need it for the movers analysis. I am going to look into whether it flows well when included at the beginning of 4.2.
* For consistency, wha

[2018-08-14 21:28] huntallcott opened #13 "Movers analysis"
@mollyschnell @diamondr @handbury @moosedube @Rahkovsky ,
Let's use this thread to discuss the movers analysis as needed.

First post: I have updated the movers analysis with the new linearized HEI data. Take a look.
Notice that we now have statistically significant coefficient on local environment. This is bad news in the sense that we were worried that this is biased upwards. There's also some b

[2018-08-14 21:36] huntallcott commented on #12
@mollyschnell , @diamondr @handbury @Rahkovsky @moosedube ,
I made some further edits to stylized facts to reflect updated empirical results. Check out the manuscript.
Key changes:
* Our new approach to the stylized facts figs (using sample average income and taking residuals of age, household size) is a better tag of SES than what we were doing before, and also the HEI is more highly correlated w

[2018-08-14 21:38] huntallcott commented on #9
@mollyschnell @handbury @Rahkovsky @diamondr @moosedube ,
I have finished updating the entry analysis with the HEI.
* Here the analysis is broadly similar in the big picture, although we see some statistically detectable effects of entry on Health Index in food deserts, in various alternative definitions of what a food desert is. (We had one significant result before, but now there are more.) So I

[2018-08-14 21:40] huntallcott commented on #11
@handbury per your comment [here](https://github.com/handbury), do you want to close this issue, at least for the moment? If we want to come back to this analysis we can re-open.

[2018-08-14 21:41] huntallcott commented on #6
@handbury I continue to love what you wrote here.
I just have two minor things:
1. can you figure out how to get the figure to compile in order with the rest of the figures? I tried and failed. You can see that right now it's compiling at the end of the figures.
2. it might be worth changing either the dots or the diamonds to crosses so that these figures will be readable in black and white.

[2018-08-14 21:51] huntallcott opened #14 "General discussion thread"
@mollyschnell @moosedube @diamondr @handbury @Rahkovsky ,
I'm opening this thread for general discussion. Let's be careful not to put stuff on this thread that is more appropriate for the other specific issue threads.

Some comments:
1. As you see in my various posts in the other threads, I have redone the analysis with HEI. Some of the results are a bit different, as I highlighted.
2. I cleaned u

[2018-08-26 17:01] huntallcott commented on #7
@Rahkovsky ,
Quick question: Why does foodcode 44203 have a yield of 0.002? Shouldn’t the yield be >>1 based on the description (it is a concentrate)?
More broadly, how sure of you of these nutrition facts data, and is there any efficient way to make sure they are reliable?
Thanks. Sorry if this is minor but I want to make sure that this is not a symptom of something larger that we can improve.
-H

[2018-08-26 17:21] huntallcott commented on #3
@diamondr @moosedube , I'm posting here in response to this email thread. I think that this is best kept on GitHub so that we can keep track of these discussions.

***
@diamondr wrote this:
Hi Hunt,

JP and I have been working on the model and I noticed we are pulling calories from gladson and nutrition facts from food codes. It seems like this could be problematic since the nutrients determine th

[2018-08-26 17:37] diamondr commented on #3
Thanks for moving my email here. Sorry for posting in the wrong place.
Thanks for your comments on the imputation. I will update. One thing I also
noticed when looking into this is that the protein variable looked like it
was in calories of protein instead of grams. It was 4x our gladson grams
variable. Can we double check all units of the raw data? It’s important for
things about the magnitude of

[2018-08-26 17:49] huntallcott commented on #3
@diamondr the units vary across all of these nutrition facts. Some are grams, some are calorie shares, etc. The units are as described [here](https://epi.grants.cancer.gov/hei/comparing.html#comparison) and then processed in, for example, GetlinearHEI.do or InsertHealthMeasures.do. If you change the units for the demand estimates please only change them for the demand estimate files, not in (e.g.)

[2018-08-27 17:25] diamondr commented on #3
Thanks for your advice here. I am no longer using zip3 for anything. I have
updated UPCDataPrep.do to name a new variable energy_per1 and have left
cals_per1 the old name. I changed the imputation for yield and energy as
you rightly suggested.

Thanks for catching my bug on the HEI_nuts_per1 in make HHxGroup. I have
fixed it now. I'm not rebuilding the HHxGroup and the data for the
instruments wit

[2018-08-27 17:32] moosedube commented on #3
Ok so we can re-start the model estimation tomorrow then?

Cheers,

JP

From: diamondr <notifications@github.com>
Sent: Monday, August 27, 2018 12:26 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Revise demand model (#3)

Thanks for your advice he

[2018-08-27 17:37] diamondr commented on #3
Yes, I hope so! The building of the instruments is very slow since it has
to recollapse RMS.

On Mon, Aug 27, 2018 at 10:32 AM moosedube <notifications@github.com> wrote:

[2018-08-27 21:17] Rahkovsky commented on #7
@huntallcott ,
I will ask about this particular yield. This seems very low. I agree with your intuition that 0.002 is probably incorrect.  I think on average the matches are good, but they are not perfect. We could drop very high and very low yields. Things like tea or ground coffee are largely irrelevant for the nutrition.

Basic Report:  44203, Beverages, Cocktail mix, non-alcoholic, concentrate

[2018-08-27 21:36] Rahkovsky commented on #12
@huntallcott USDA food desert definition is based on the Census tract, but it does not assume that consumers are restricted to their Census tract shopping. It just uses population weighted Census tract centroid as a proxy for the location of the consumer home.  USDA definition is very strict <1 mi to the nearest supermarket in the urban areas and a relatively poor Census tract.

Personally, I don'

[2018-08-28 02:56] huntallcott commented on #7
Great, thanks for asking. Seems like a concentrate should mechanically have yield > 1. Let us know if any revisions.

[2018-08-28 14:08] Rahkovsky commented on #7
@huntallcott , I don't think this is the best approach. Most food would have yields less than 1, and this is what we want for RW products. I would drop large outliers, for example, <10% or >1000%.

[2018-08-28 15:05] huntallcott commented on #7
@Rahkovsky I think I am not communicating well.
1. I thought that yield = edible grams / package grams, and then energy and all other nutrition facts are in units per 100 edible grams. Is that sentence fully correct?
1a. This matters because we are getting nutrients per 1000 calories by dividing the nutrient by (energy/1000), and then getting calories in the package as energy*yield*GramsInTheUPCRe

[2018-08-28 15:29] Rahkovsky commented on #7
@huntallcott ,
1. This statement is partially correct. yield is measured in percent, the average yield is 90 for RW and 100 for UPC. Correct statement is yield = (100 * edible grams) / package grams.
2. The group 44203 is the strange mixture of frozen and dry cocktail mixes. This is the only group that have yield less than 1%. I don't have a good explanation why a concentrate will have a yield les

[2018-08-28 15:39] huntallcott commented on #7
Got it, thanks. I divided all the yields by 100 in the code, hence my writing error, but the code is fine on that issue.
I found some other potential discrepancies, also with "yield"= yield/100:
a. Can you explain why 95312600 (red bull) has yield = 26 in some cases, and 250 in some cases? All of that seems too large, and I’m also worried that there are too many UPCs with yield=26 for these to all

[2018-08-28 15:40] handbury commented on #6
@huntallcott

Welcome back, congratulations and sorry for not getting to these while you were away!

1. I think that this is fixed (I reset the figure placement option).  I can't compile the draft currently because it can't find some numbers (I presume that it is in process) so I haven't made this change. To make the within location figure compile in order with the other figures, I think that we j

[2018-08-28 15:50] huntallcott commented on #3
@diamondr ,
1. In UPCDataPrep you nicely created energy_per1 but then still got HEI nutrients _per1 by multiplying by cals_per1. I think we want to multiply by energy_per1 (on what is now line 173)?
I changed the code and pushed to the master. Prepped-UPCs on dropbox as of this morning should have that change.
2. There are then some issues about when we want to use cals (from Gladson) vs. "energy"

[2018-08-28 16:58] Rahkovsky commented on #7
@huntallcott
I will look into these issues.

Ilya

[2018-08-28 20:15] Rahkovsky commented on #7
@huntallcott

a. 95312600 is the one code for both dry and liquid Red Bull, some UPCs are for liquid, some for dry.  I checked Red Bull dry mix and it uses 2 gram dry pocket per 500 gram water, which is exactly 25,000%.

b. For 95311000, I see only two yields: 1 and 14.59, I don't see the yield of 1.75. 14.59 is the dry mix, 1 is the liquid energy drink.

c. I will look more at the rice issues, I

[2018-08-29 15:29] Rahkovsky commented on #7
@huntallcott
I have looked through the conversion factor with unusually low and high yields. I fixed products such as rice, macaroni, tea, coffee, and energy drinks. I have uploaded a second version of the conversion_pos_v2.dta into Externals\Data\NutritionFacts\HEI

[2018-08-29 17:53] huntallcott commented on #7
Hi @Rahkovsky ,

Thanks for working on this.

I moved the original conversion_pos to DataStorageCodebooks for safe-keeping, and renamed conversion_pos_v2 to conversion_pos so that it works with the data prep pipeline.

The original file had 333,236 unique upcs. The file you called v2 now has about 10,500 upcs with duplicated observations. Can you explain what happened here? The "key" for these fil

[2018-08-29 18:03] Rahkovsky commented on #7
@huntallcott ,
I merged nutritional information from a few source and forgot to drop the duplicates. I uploaded the updated file with no duplicates.

[2018-08-29 19:28] huntallcott commented on #3
@diamondr @moosedube , please note that Prepped-UPCs.dta is remade as of about 60 minutes ago to accommodate the improvements made by @Rahkovsky discussed in #7. I don't think you should start the estimates over, as this only affected a few hundred UPCs by my count, but when you might remake the data if convenient, or alternatively make sure to never remake the data.

[2018-08-30 09:30] handbury commented on #11
Hi @huntallcott, @mollyschnell

I actually quite like these results.  Since the data was updated, we get a strong contemporaneous effect with both the nutrient score and the ADD health index, without any strong pre-trend (see p.3 of the attached file).  The issue is that the same effect isn't evident for the linear HEI.  Is it possible that this index is still in progress?  If so, I can update the

[2018-08-30 15:31] huntallcott commented on #7
@Rahkovsky ,
Hi. In these posts starting [here](https://github.com/huntallcott/FoodDeserts/issues/7#issuecomment-412275160), you developed a crosswalk to match HEI nutrition facts into the random weight data.
I process this in Code/DataPrep/NutritionFacts/PrepUSDANutritionFacts.do, and it creates "$Externals/Calculations/NutritionFacts/magnetdata_nut_facts.dta", replace.

Previously, Rebecca's RA

[2018-08-30 19:00] handbury commented on #11
@huntallcott @mollyschnell:

The store-level dataset that as outputted yesterday only had the raw ADD and HEI indexes.  Today the dataset has been updated to also include the normalized versions of these indexes.  The results look quite different with the normalized and raw store indexes on the RHS (for the health index they switch from showing a pre-trend and weak contemporaneous effect when usin

[2018-08-30 19:29] huntallcott commented on #11
This is what I just sent to Jessie:
***
The normalization is done in InsertHealthMeasures.do. Right now I'm just running that manually if/when I update a specific dataset.
Separately: I apologize but my email this morning to you was wrong. The Homescan HEI is updated, but the RMS HEI is not. Will be another day for it to finish collapsing. Can you re-run after that?
***
And yes the normalized indi

[2018-08-30 19:31] handbury commented on #11
@huntallcott  Thanks.  I'll check that the RMS data is out and re-run on Saturday.  If there is still a difference between the results using the normalized and non-normalized RMS indexes then we can look into it.

[2018-08-31 23:59] huntallcott commented on #11
@handbury ,
RMS-Prepped.dta is now ready.
Let us know what you find!

[2018-09-01 01:00] handbury commented on #11
@huntallcott I seem to be getting the same results.  See the comparisons on p3 and p5 of the attached.  I'll look back at the part of the code where you do the normalization and, of course, at my own code again in the morning.

[TSWithinStoreSupplyChanges_20180720on.pdf](https://github.com/huntallcott/FoodDeserts/files/2341937/TSWithinStoreSupplyChanges_20180720on.pdf)

[2018-09-03 13:55] Rahkovsky commented on #7
@huntallcott
I matched product groups to the FNDDS codes. Is this where the nutritional information is coming from? I don't see FNDDS codes in the file.

[2018-09-03 22:10] Rahkovsky commented on #7
@huntallcott
I will try to improve the matches.

[2018-09-04 13:46] huntallcott commented on #11
Hi @handbury ,
As far as I can tell, the HEI and HealthIndex are correctly linear transformations of their raw versions.
What I did is below:
![image](https://user-images.githubusercontent.com/23505296/45035137-4608e000-b027-11e8-943d-ab34b27fb1b9.png)

[2018-09-04 14:54] handbury commented on #11
@huntallcott apologies for not updating you here.  The HEI and HealthIndex are correct transforms.  The fact that our household-level exposure variables were not revealed an error in the calorie weighting (the weights not summing to one because we weren't dropping calorie weights for stores that we don't have the HEI or HealthIndex for).  With this corrected, the regression results match whether t

[2018-09-05 20:19] diamondr commented on #3
@huntallcott @moosedube  We finally have the model working! Point estimates and SEs look great. I am now working on rerunning our decomp and the new price subsidy analysis.

I have also written into the draft a roadmap of how the price subsidy analysis will work. Let me know if you have comments, thoughts or changes. Almost there!

[2018-09-05 20:38] diamondr commented on #3
I think actually with the fixing of PX it doesn't matter now. you can try
taking it out.

On Wed, Sep 5, 2018 at 1:35 PM moosedube <notifications@github.com> wrote:

[2018-09-06 12:08] huntallcott commented on #3
Great, many thanks, this is great news.
@moosedube , it indeed would be helpful for me to use 2.2, as some of the auto-input features I started to use don't work for me right now in 2.3. I have both 2.2 and 2.3 on my desktop and so can just click on whichever one I need for a given paper.
If this is costly for you then I can make do with 2.3.
Hunt

[2018-09-06 12:40] huntallcott commented on #3
@diamondr thanks for writing up this template. Others should also take a look at this 7.2 so that we're on the same page before @diamondr sinks too much code into this.
I think that this is both the right approach and a nice organization of the subsection, modulo one question: is a percent price discount the right way to do this? What about a level discount, i.e. subsidized price = p-s.

I would h

[2018-09-06 13:44] diamondr commented on #3
THe reason p-s will be tricky is that it could easily become negative for
cheap items. It would have to be price per gram, but that really is not a
consistent unit of quantity across very different foods. Percentage makes
this much easier.

I’m not followIng your second point on wanting a conceptually simpler
subsidy. How is what youre suggesting different from what I wrote?

On Thu, Sep 6, 2018 a

[2018-09-06 13:58] huntallcott commented on #3
@diamondr sorry to be unclear. My second point is just an extension of the first. I was giving a reason why I suggested a subsidy per 1000 cals that scales in health index, not healthindex*price as you have it currently: the nutrition subsidy policies we are approximating are not ad valorem subsidies.
But if this is technically undesirable then I think that outweighs the conceptual concerns.

[2018-09-06 14:03] diamondr commented on #3
The soda tax makes sense like this since it only taxes soda, but we would
prob want a different subsidy per cal or per ounce for something like
potato chips which have a lot of sodium and fat, but weight a lot less. I
can ply around with it as a direct subsidy, but my guess is that super
salty things that have few calories will end up with negative prices.

On Thu, Sep 6, 2018 at 7:00 AM Hunt Allc

[2018-09-06 14:40] moosedube commented on #3
I played around with these concepts back in June.  Recall that level discounts would lead to negative subsidies.  Another concern was that we would over-subsidize and get negative quantities demanded. The latter could potentially arise if the subsidized price is lower than the value of the nutrients consumed (denominator of demand then becomes negative). So, following Rebecca’s suggestion, we deci

[2018-09-06 14:55] diamondr commented on #3
JP: want to have a quick phone call? I’m about to fly to Chicago, but we
are still boarding. 2036060357 is my cell.

On Thu, Sep 6, 2018 at 7:40 AM moosedube <notifications@github.com> wrote:

[2018-09-06 14:58] moosedube commented on #3
I’m on a train with terrible wifi reception right now.  Are you coming in for your Dad’s reception tomorrow?  What time do you land?  Perhaps we could chat later in the day today.

JP

From: diamondr <notifications@github.com>
Sent: Thursday, September 06, 2018 9:57 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <m

[2018-09-06 15:08] diamondr commented on #3
Yes that’s what’s I’m coming for. Short story:

My criterion functions are on the order of 10e-15. These look like real
zeros.

The things that help:

Make sure you PX is simply inv(X’X)X’ only using the FEs in X. It’s
redundant to put the other moments in there. This helps with numerical
issues of matrix inversion.

Use the weight matrix. This helps weight the moments more evenly and helps
the op

[2018-09-06 15:12] moosedube commented on #3
Sure I am on campus tomorrow, in Hyde Park.  I am free tomorrow from 12-1:15 and then after 3:45.
Best,

JP

From: diamondr <notifications@github.com>
Sent: Thursday, September 06, 2018 10:10 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Revise de

[2018-09-06 15:15] diamondr commented on #3
Let’s meet at noon tomorrow? I can come to your office. Where is your
office?

On Thu, Sep 6, 2018 at 8:13 AM moosedube <notifications@github.com> wrote:

[2018-09-06 15:18] moosedube commented on #3
I’m in Harper 361.

JP

From: diamondr <notifications@github.com>
Sent: Thursday, September 06, 2018 10:17 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Revise demand model (#3)

Let’s meet at noon tomorrow? I can come to your office. Where is you

[2018-09-06 15:30] diamondr commented on #3
Great see you then

On Thu, Sep 6, 2018 at 8:18 AM moosedube <notifications@github.com> wrote:

[2018-09-06 18:44] diamondr commented on #3
PX is just the estimator of the Fixed Effects, given the point estimates
for the non-linear paramters. For a given guess of the non-linear
parameters, we have Y-ln(alpha-p+x*beta)=Lots of fixed effects. Thus, we
take this Y-ln(alpha-p+x*beta) and just projected it onto the Fixed
effects, where the fixed effect dummies are in X. Thus, it would be
PX=inv(X'X)*X' and our estimates of the FEs, given t

[2018-09-06 19:09] moosedube commented on #3
No I think you are right.  Appendix D.1 needs to be fixed too.

JP

From: diamondr <notifications@github.com>
Sent: Thursday, September 06, 2018 1:45 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Revise demand model (#3)

PX is just the estimator

[2018-09-07 01:04] Rahkovsky commented on #7
@huntallcott
I uploaded improved match file foods RW.csv to Extrenals/Data/NutritionFacts/USDA

Search

[2018-09-08 00:58] mollyschnell commented on #11
@handbury @huntallcott: I've spent some time working on the code, and it looks like the results just aren't there with the new Health Index. I think this is fine, though, since the reduced form section is already quite long without these results!

[2018-09-08 01:07] mollyschnell commented on #12
@huntallcott: I went through the SF and RF sections and cut things down further. I've left a few notes here and there in the text—let me know if you have any thoughts!

[I also added a paragraph on the within-location analysis to the introduction.]

[2018-09-11 00:12] huntallcott commented on #11
@mollyschnell and @handbury,
Thanks for working on this.
In light of your posts, I am closing this GitHub issue at least for now.

[2018-09-11 00:12] #11 closed

[2018-09-11 00:36] huntallcott commented on #7
@Rahkovsky ,

Thank you for doing this. Unfortunately, there appear to be 255 foodcodes in your crosswalk that do not exist in the foodcodes nutrition facts file you provided, "$Externals/Data/NutritionFacts/HEI/foodcode.dta". Can you explain?

Ideally whatever you do would resolve the issues I raised [above](https://github.com/huntallcott/FoodDeserts/issues/7#issuecomment-417362301). So ideally y

[2018-09-12 00:56] diamondr commented on #3
Hi All,

I have finished the number for the food subsidy exercises. Please take a look. I changed it up a bit from how I wrote it last week.

Best,

Rebecca

[2018-09-12 01:13] handbury commented on #3
Thanks for this Rebecca.  Are all of the 44.5K households within 10 minutes of the Engelwood Whole Foods in the lowest income quartile?  If not, should we only be looking at the cost of improving the low income quartile households' Health Indexes for the cost comparison?

Also, would it be worth showing what subsidy would be required to resolve the disparity entirely? Perhaps we could benchmark th

[2018-09-12 01:37] moosedube commented on #3
Awesome Rebecca. Sorry, I am still not finished with subsidy exercise using my estimates (as reliability check). I teach tomorrow & Thursday and may not get to this again until Friday.

I have not made edits to paper because I am actually having trouble getting the older version of Lyx to install correctly on my computer.  Nothing major (just a few typos).  I also had the same thought as Jesse reg

[2018-09-12 03:47] diamondr commented on #3
I imagine most all people in that part of Chicago are in the bottom
quartile, but I can check. I wouldn’t be able to residualize against HH
size. Do we have an income cutoff for bottom quartile?

I agree that is sounds like stores are good which is not the best tone.
What are everyone’s on the right way to pitch this? Even though equating
supply has a small effect on eating it does kind of seem li

[2018-09-12 10:18] handbury commented on #3
I liked your pitch but worry about bench-marking the relative costs against just one example.  It's also probably close to the best case scenario, since there area around Engelwood has a fairly dense cluster of low income quartile households making the number of households reached on the higher end.  This density of low income households was also a reason Whole Foods chose to enter there, even wit

[2018-09-12 21:37] diamondr commented on #3
Thanks for these tips. I rewrote the section removing any reference to true subsidies paid, since they are often combined with outside subsidies of other sources. I added a calculation for the cost of closing the nutrition gap through subsidies. The cost is about 20% of the annual per household allotment of food stamps. Let me know your thoughts!

[2018-09-13 12:50] moosedube commented on #3
@diamondr : two quick thoughts.  First, doesn't SNAP already restrict what types of foods a household can buy with their credits?  I thought it did focus on necessities (which I assume are healthy).  Second, I think we observe whether or not a Homescan panelist is part of WIC. I realize WIC is a little different from SNAP. But, WIC is also supposed to subsidize healthy food. so I wonder if WIC hou

[2018-09-13 17:18] diamondr commented on #3
SNAP can be used for all groceries I think, so expanding access would not improve nutrition per se. WIC is targeted at certain foods, but is really a different program since its for moms with infants.

[2018-09-13 20:15] Rahkovsky commented on #7
@huntallcott I updated the file for RW match in "\Dropbox\FoodDeserts\Externals\Data\NutritionFacts\USDA\Crosswalk_RandomWeight_to_foodcode.csv". I run "Code/DataPrep/NutritionFacts/PrepUSDANutritionFacts.do" . Now we have a full match and correlation R2 = 0.91 and correlation 0.95.

[2018-09-13 20:26] Rahkovsky commented on #3
@moosedube WIC household have slightly better diet than similar non-WIC households. WIC provides vouchers that can be used to acquire a list of very specific foods for free. The vouchers cannot be substituted for cash in internal budgeting, which is possible for SNAP benefits. SNAP households have slightly worse diet that eligible non-participants.

However, we don't know much about the effect of

[2018-09-17 22:13] huntallcott opened #15 "Revise in response to QJE reports"
@handbury @Rahkovsky @mollyschnell @moosedube @diamondr ,
Am I correct that we plan to submit to QJE and then to AER?
My guess is that Larry would send back to a combination of referees that we had on our two papers before.
It looks like we could easily convert ADD's R2 to R&R, R3's main concerns are moot, and R1 will remain skeptical.

If we are submitting to QJE, then I think it would be useful

[2018-09-17 22:17] huntallcott commented on #7
@Rahkovsky thanks much for doing this. I think we're good.
Closing this issue now.

[2018-09-17 22:17] #7 closed

[2018-09-17 22:37] moosedube commented on #14
@mollyschnell @moosedube @diamondr @handbury @Rahkovsky: we need to discuss how we view the role of the subsidy exercise. Recall that this is intended to be the key motivation for a structural analysis. So our abstract, intro and conclusion sections need to be modified.

First, here's my take on that exercise. I welcome each of your reactions.  Once we have a consensus, I am happy to revise the ap

[2018-09-17 22:57] moosedube commented on #6
@handbury @Rahkovsky @mollyschnell: Spent the day reading the paper from start to finish and making edits. Section 4.3 is a nice complement to the two event studies. But, I admit that I am surprised/confused why controlling for zip has a much bigger effect on the gap than controlling for store. One thought is that the store assigned to a HMS trip is measured with error since most HMS panelists onl

[2018-09-18 18:44] moosedube commented on #13
@mollyschnell @diamondr @handbury @moosedube @Rahkovsky , Not sure who is "officially" in charge of section 4.2 estimates, but I think the decompositions at the end are out of date.  I think the cross-zip moves should be: 0.14*0.12/0.58 = 29%, and the cross-county moves should be: 0.1*.25/0.58  = 4.3%.

[2018-09-18 18:49] huntallcott commented on #13
@moosedube that's me still. Sorry. Some of the numbers auto-update, and others don't, and I haven't auto-updated.
All: can I edit the lyx file today? I would like to accept @mollyschnell's excellent comments. Or JP, if you are working still, I can wait. Or we can agree that you will push now and won't edit in the reduced form sections?

[2018-09-18 18:51] moosedube commented on #13
I’m all set and committed my comments yesterday.

Best,

JP

From: Hunt Allcott <notifications@github.com>
Sent: Tuesday, September 18, 2018 1:50 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Movers analysis (#13)

@moosedube<https://github.com/mo

[2018-09-19 12:54] huntallcott commented on #15
@diamondr @moosedube ,

Two questions:
1. In re-reading the referee reports, I realized that I think I can address every single one of the comments on the stylized facts/reduced form/Health Index definition in a short sentence or two. Thus I'm wondering if we actually want to submit a shortened version of a referee response as part of a cover letter to Larry. The file dropbox/FoodDeserts/JournalSu

[2018-09-19 14:27] moosedube commented on #14
@mollyschnell @moosedube @diamondr @handbury @Rahkovsky: i just revised section 7.2 in paper (subsidies).  Please take a look and let me know reactions/suggestions.  I am trying to position the findings more before I add this material to intro, abstract and conclusions. Keep in mind that the subsidies are likely to be the "big a-ha" from our structural estimates. My reaction was that these numbers

[2018-09-19 16:18] Rahkovsky commented on #6
@moosedube I think your story about measurement error is plausible, but I am not sure if it can generate large effects. Stores of the same chain tend to carry similar products. The difference between Safeway close to work and Safeway close to home, should not be too large.

Figure 2 shows that higher income areas have monotonically healthier food. I think the selection story is more likely. Anothe

[2018-09-19 16:27] handbury commented on #6
@moosedube, I've looked into this further.  The results using chain fixed effects are very similar.

On the second point, the set of “overlap” zip codes typically have larger stores with lower health indexes (either ADD or HEI), however, this shouldn't affect the results since, in **both** the baseline and within-zip estimates, we limit our attention to the "overlap" sample (the set of households

[2018-09-19 18:54] Rahkovsky commented on #14
My thoughts on subsidy:
1. I am not sure if the 0.86% estimated effect of the supermarket entry is the upper bound. It is estimated based on the endogenous entry to supermarkets to the areas where they can generate sales and profits, a subsidized entry of supermarket is likely to produce lower sales response.
2.  SNAP is a primarily an anti-poverty program. It is designed to provide households wit

[2018-09-19 19:00] diamondr commented on #15
On it!

On Wed, Sep 19, 2018 at 5:56 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-09-19 19:08] moosedube commented on #14
1.  I am not sure if the 0.86% estimated effect of the supermarket entry is the upper bound. It is estimated based on the endogenous entry to supermarkets to the areas where they can generate sales and profits, a subsidized entry of supermarket is likely to produce lower sales response.
We indicate that this is the estimate based on the event study.  Moreover, this is why we look at both (1) the s

[2018-09-20 19:18] mollyschnell commented on #14
@moosedube: I really like the subsidy section. I went through and made a few edits/ comments in the text, but nothing big. I agree that the subsidies come out looking very economical, which is a nice "a-ha" from the model.

[2018-09-20 22:00] moosedube commented on #14
I actually just presented this at Amazon today.  Went over very well (several good IO folks in audience here).  They also liked he subsidy component ... though obviously not per se a representative audience of QJE editorship.  :)

Best

JP

Sent from my iPhone

On Sep 20, 2018, at 12:18 PM, mollyschnell <notifications@github.com<mailto:notifications@github.com>> wrote:

@moosedube<https://github.c

[2018-09-21 13:47] huntallcott commented on #6
Hi @handbury @moosedube @mollyschnell ,
Here is my two cents.
A. I like this analysis, even though the zip code version seems to be generating a looser bound. I think @moosedube is worried about the looseness of this bound, but I still think that 30% is informative and interesting, even if it's our loosest bound, and in any event, the store version is much tighter.
B. I think we want to at least g

[2018-09-21 14:04] huntallcott opened #16 "Defend instrument in demand model"
The goal of this issue is to modify the paper to improve defense of the instrument, to address referee concerns.
@diamondr this is per our discussion on the phone the other day.

This file has the IV graphics that I mentioned.
[Pages from ALT_Slides.pdf](https://github.com/huntallcott/FoodDeserts/files/2405611/Pages.from.ALT_Slides.pdf)
We had a slightly different set of fixed effects and so maybe

[2018-09-21 18:21] mollyschnell commented on #6
@huntallcott: Happy to take another look! I won't have the chance until later today, so feel free to be in the draft this afternoon. Why don't you let me know when you're out and then I'll hop in?

Molly

[2018-09-22 13:52] huntallcott commented on #3
(Moving the discussion of subsidies back from #14 to here.)

@moosedube @diamondr , I love what you are doing with this section.

Here is my two cents:
1. Paralleling one of @Rahkovsky's points, I too worry that this notion of a targeted subsidy still seems a bit fanciful. I would make clear that there are about 45 million SNAP recipients, and so we think of this bottom quartile healthy food subsi

[2018-09-24 15:02] handbury commented on #6
@huntallcott @mollyschnell, I don't know if you have done any more work writing this section up, but in case not, I thought it worth doing some further reconciliation to help inform the "puzzling" result with the within-store reduction being so small vs. the within-zip reduction.

First, when we run the within-store analysis, we limit our attention to households that purchase more than 50% of thei

[2018-09-24 16:36] mollyschnell commented on #6
@handbury: Thanks for looking into this!

I think it would make sense to require that we observe households in both Q1 and Q4 in a given environment (rather than just two households in different income quartiles, so that we're not extrapolating to the Q4-Q1 difference). Under that sample restriction, do the estimates vary greatly depending on whether we include Q2 and Q3 households in the estimati

[2018-09-24 16:42] moosedube commented on #6
Indeed, thank you for doing this analysis.  Quick question: when you condition on retailer code, why do you only focus on RMS stores?  We should observe the retailer code in the HMS sample too.  It seems like there are two issues here. First, we want to conduct the within-place analysis using people who shop in the same chain, as opposed to the same exact store.  This is important since store ids

[2018-09-24 17:44] handbury commented on #6
@moosedube:  I merged the retailer codes in from the Externals/RMS/Stores-Prepped.dta dataset that I had assumed only contained RMS stores.  It contains all of the stores in the $Nielsen/RMS/`year/Annual_Files/stores_`year'.tsv datasets.  Its possible that these raw datasets also include the stores in the HMS data that aren't in the RMS data but this seems unlikely.

@mollyschnell: We were using t

[2018-09-24 17:46] moosedube commented on #6
The raw trip files for HMS contain store and retailer codes. So if these were not retained at the build stage for this project, we can easily re-run this to make sure you have all the retailer codes for all HMS trips (not just those to RMS stores).

JP

From: handbury <notifications@github.com>
Sent: Monday, September 24, 2018 12:44 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
C

[2018-09-24 19:05] huntallcott commented on #6
@handbury @mollyschnell @moosedube ,
The file $Externals/Calculations/Homescan/HHxQuarterxRetailer.dta is already collapsed by retailer, so you can look at that if you want. I am also re-making $Externals/Calculations/Homescan/HHxYearXStore.dta to collapse by retailer x store and retain retailer_code. That should take a few hours.
This is all in Code/DataPrep/Nielsen/TransactionDataPrep.do, so you

[2018-09-24 20:04] handbury commented on #6
Thanks @huntallcott. I'll wait for the HHxYearxStore dataset to complete and get back to everyone on this early tomorrow.

[2018-09-25 18:43] handbury commented on #6
The results look as expected when using all retailer codes.
The top-bottom quartile gap looks similar whether looking at the HH-year or HH-store-year data (0.56, 0.59 standard deviations, respectively). The gap closes  to 0.43 when controlling for zip FEs and 0.41 when controlling for retail chain.  This is a drop of about 25% within zip and 30% within retail chain.  This is  estimating using hous

[2018-09-28 18:38] huntallcott commented on #16
@diamondr I used a different naming convention for soda tax paper. In the fooddeserts directory this file is called Dropbox\FoodDeserts\Externals\Calculations\Geographic\CtXYear_Data.dta. If you change it to that, it should work.

[2018-09-28 19:01] diamondr commented on #16
Great Thanks. That file doesn't have 2015 and 2016. Any chance you could
update it? I'm happy to do it if you point me to where there code is.
Thanks.

On Fri, Sep 28, 2018 at 11:38 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-09-28 19:09] huntallcott commented on #16
I just updated it; you should have it once dropbox updates on your end.
Sorry for the confusion.

[2018-09-28 19:36] diamondr commented on #16
Awesome, thanks!. Btw, what the mean and SD of the health index you use to
normalize everything? Thanks!

On Fri, Sep 28, 2018 at 12:09 PM Hunt Allcott <notifications@github.com>
wrote:

[2018-09-28 19:38] huntallcott commented on #16
Am headed to airport right now, but I know that it's created in GitHub\FoodDeserts\Code\DataPrep\OtherNielsen\InsertHealthMeasures.do. Thanks much.

[2018-09-28 19:40] moosedube commented on #16
I just committed edited version of lyx file to Github with references to latest subsidies in abstract, intro and conclusions. I tried to clean up some of the track changes so you can easily see my latest edits (and Molly’s edits to the intro).

JP

From: Hunt Allcott <notifications@github.com>
Sent: Friday, September 28, 2018 2:38 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc:

[2018-10-03 14:43] moosedube commented on #3
@diamondr @huntallcott @mollyschnell @handbury @Rahkovsky
Here is a recent paper that shows that food policies implemented via WIC led to a reduction in consumption of "bad" nutrients: https://www.sciencedirect.com/science/article/pii/S0749379717307146?via%3Dihub

We may want to mention this in our subsidy section as further evidence that our exercise is not totally implausible.

[2018-10-15 20:07] huntallcott commented on #15
@diamondr @moosedube ,
This afternoon, I have further revised the QJE Cover Letter document to more completely respond to referees. I am closing the doc now. @moosedube, would you be willing to take one more final look at the parts pertaining to the demand model and try to bring it to a close?
My view is that we just want short answers here, as this is not really an official response document, so

[2018-10-15 20:08] huntallcott commented on #16
Rebecca, these new figures and table are nice. I am closing this issue.

[2018-10-15 20:33] huntallcott opened #17 "Clean up repo"
@diamondr @moosedube @mollyschnell @handbury @Rahkovsky

The goal of this issue is to clean up the GitHub repo and dropbox/Externals/ so that there are no legacy files and we are comfortable posting the entire Code/ folder as our replication files.

I just deleted a number of old files that I and others had created. If you disagree, then please consider recovering those old files and putting them

[2018-10-15 22:01] diamondr commented on #3
I see: The estimates show a striking and systematic pattern between income
and preferences for healthy and unhealthy nutrients. Higher-income
households have monotonically stronger preferences for all four nutrients
and food groups deemed “healthy” by U.S. government nutritional guidelines:
fiber, protein, fruit, and vegetables. Higher-income households also have
monotonically weaker preferences f

[2018-10-15 23:34] huntallcott commented on #3
No, these must be the old estimates.
* There are more than four healthy nutrients/food groups
* Fiber and cholesterol are not in the HEI.
Take another look?
Thanks.

[2018-10-16 13:57] diamondr commented on #3
Yes, thanks. Sorry again for the dumbness.

On Mon, Oct 15, 2018 at 4:34 PM Hunt Allcott <notifications@github.com>
wrote:

[2018-10-16 13:57] moosedube commented on #3
I just fixed some typos in the intro.  The comments in the model section look fine.

I also fixed some typos in the subtext to table 4.  But, I am not seeing what is objectionable in the discussion of Table 4 in the body of the paper. It looks fine to me.

BTW – the paper is otherwise in very good shape. It reads very well.  While a bit long, I think it’s a clear read and the length should not ant

[2018-10-16 13:58] moosedube commented on #3
Oops, I was looking at wrong paragraph.

JP

From: diamondr <notifications@github.com>
Sent: Tuesday, October 16, 2018 8:57 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Revise demand model (#3)

Yes, thanks. Sorry again for the dumbness.

On Mon,

[2018-10-17 13:48] huntallcott commented on #7
@Rahkovsky I am revising the data description. What is the right citation for the nutrition facts you provided? I presume it is not from here? https://ndb.nal.usda.gov/ndb/
And is there a citation for the crosswalk from UPCs to food codes, or do we just say "internal USDA files" or something?

[2018-10-17 17:43] Rahkovsky commented on #7
Hunt,

I used two sources of nutritional information

USDA Standard Reference database, citation: US Department of Agriculture,
Agricultural Research Service, Nutrient Data Laboratory. USDA National
Nutrient Database for Standard Reference, Release 28

FNDDS prepared food database, citation:   U.S. Department of Agriculture,
Agricultural Research Service. 2018. USDA Food and Nutrient Database for

[2018-10-18 01:39] huntallcott opened #18 "Editing notes"
This issue thread is to discuss specific editing conventions that we'll use in the paper. (Not substantive or economic issues in the manuscript, which are on other issue threads.)
Molly has done a great job getting us organized on this.
In my edits so far this week, I have been using the following conventions:

1. Use "panel" instead of "subfigure," as I think it's more standard.
2. Changed “acces

[2018-10-18 02:35] huntallcott commented on #7
Great. Thanks.
I wrote:
"Our nutrition facts are from databases available from the U.S. Department of Agriculture (USDA 2016; 2018), which we match to Nielsen UPCs using crosswalks developed by the USDA. The UPC-level USDA nutrition facts closely match a second database from a marketing data provider that we used in a previous version of this paper."

If it is a problem for Nielsen or USDA to stat

[2018-10-18 03:30] moosedube commented on #18
I see we are now into the “super important” edits. 😉

Sent from my iPhone

On Oct 17, 2018, at 8:39 PM, Hunt Allcott <notifications@github.com<mailto:notifications@github.com>> wrote:

This issue thread is to discuss specific editing conventions that we'll use in the paper. (Not substantive or economic issues in the manuscript, which are on other issue threads.)
Molly has done a great job getting

[2018-10-18 03:46] mollyschnell commented on #14
@huntallcott: Sounds good—I can start on this first thing in the morning.

[2018-10-18 12:35] Rahkovsky commented on #7
Hunt,

It looks good. I just have one edit. The UPCs were matched to IRI UPCs
databases rather than to Nielsen. We don't have to go into these details,
so I just made it general:

"Our nutrition facts are from databases available from the U.S. Department
of Agriculture (USDA 2016; 2018), which we match to UPC database using
crosswalks developed by the USDA. The UPC-level USDA nutrition facts
close

[2018-10-18 13:08] huntallcott commented on #3
@moosedube do you have a moment to chat?
A. Do you guys agree with my point 3 [above](https://github.com/huntallcott/FoodDeserts/issues/3#issuecomment-429999707) on relaxing the argument that nutrients are exogenous, per R1?
B. Can we appendix 5.1?
C. Can we footnote the comment about how Dubois et al. have an endogeneity problem?

Give me a ring, or we can wait until @diamondr is awake if you thi

[2018-10-18 13:09] huntallcott commented on #3
@moosedube I just committed the manuscript lyx file with some comments detailing my suggestions. Take a look?

[2018-10-18 13:10] handbury commented on #6
I’m re-running the code dropping those retailers now.

I will commit and then play around with looking within chain*zip or chain*county.  I think that the chain*zip will run us into small overlap sample issues but the latter one should work.

[2018-10-18 13:12] huntallcott commented on #6
chain-state or chain-dma are also fine, although county I guess is nicer both because it's smaller and because we use county a lot elsewhere.
thank you!

[2018-10-18 13:45] moosedube commented on #7
Are those USDA nutrition facts databases and UPC-crosswalk files publicly available?

Best,

JP

From: Ilya Rahkovsky <notifications@github.com>
Sent: Thursday, October 18, 2018 7:35 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Finalize health me

[2018-10-18 14:02] Rahkovsky commented on #7
Nutritional databases linked to food groups are publicly available.
However, the link between UPCs and the food groups is not. There are two
problems:
1. UPC dictionary is the property of IRI, so it has be shared through
third-party agreement.
2. The final version of the data product has not been finished. It may take
months. Generally, the third-party agreements for data are signed if there
is a

[2018-10-18 14:04] moosedube commented on #7
This will also be something we need to disclose to the journal since most journals now expect all data and code to provided for replication purposes.

Best,

JP
____________________________________________

Jean-Pierre H. Dubé
Sigmund E. Edelstone Professor of Marketing
Director of the Kilts Center for Marketing
The University of Chicago | Booth School of Business
5807 S. Woodlawn Avenue
Chicago,

[2018-10-18 14:06] huntallcott commented on #7
No problem -- we already have tons of data we can't disclose, including the Gladson nutrition fact data.

[2018-10-18 14:08] Rahkovsky commented on #7
It's probably not a very big problem. The only proprietary part is the list of IRI UPCs. When they are matched to Nielsen UPCs, which I presume are shareable, we can drop the IRI UPC column and the data is no longer proprietary.

[2018-10-18 14:19] moosedube commented on #7
Perfect.

Sent from my iPhone

On Oct 18, 2018, at 9:08 AM, Ilya Rahkovsky <notifications@github.com<mailto:notifications@github.com>> wrote:

It's probably not a very big problem. The only proprietary part is the list of IRI UPCs. When they are matched to Nielsen UPCs, which I presume are shareable, we can drop the IRI UPC column and the data is no longer proprietary.

—
You are receiving this be

[2018-10-18 14:37] moosedube commented on #3
Having internet troubles and cannot access Github right now.  Will respond to all your queries as soon as connectivity is resolved.

JP

From: Hunt Allcott <notifications@github.com>
Sent: Thursday, October 18, 2018 8:09 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [hunta

[2018-10-18 14:41] huntallcott commented on #16
Another question:
3. Figure A14, the first stage regression. The figure note says we have zip-3 fixed effects and product group fixed effects. But line 183 of explore_iv.do (is that the right file?) looks like it uses fixed effects involving the variable inc_cat. Don't we want consistent fixed effects with the main regression, so county and product group?

[2018-10-18 15:12] diamondr commented on #16
Re #1: I think pairs of product groups makes sense since it represents the
variation we're actually using. The IV always has country FEs so it takes
out absolute price differences between countries among all product groups.
The pairs do this to. Maybe I should just add a sentence or two saying this?

Re #2: I'm happy to change it. I'm on a plane right now and don't have good
enough internet to pul

[2018-10-18 15:19] diamondr commented on #16
Are the county income already CPI deflated? Maybe not?

On Thu, Oct 18, 2018 at 8:12 AM Rebecca Diamond <rebecca.diamond@gmail.com>
wrote:

[2018-10-18 15:29] diamondr commented on #16
Should I edit the lyx file now? Turns out plane interent was strong enough
to download what i needed. I updated the regression with county, year, and
product group FEs. Same result.

On Thu, Oct 18, 2018 at 8:19 AM Rebecca Diamond <rebecca.diamond@gmail.com>
wrote:

[2018-10-18 15:42] huntallcott commented on #16
* I disagree on 1. The differences between product group pairs is *also* not the variation we are using. Putting these pairs obscures the actual variation that we want people to see. The fact that you wrote the text (correctly, I think) to focus on the spatial variation within product groups (e.g. that produce is cheaper on west coast) suggests to me that this is the variation we want people to un

[2018-10-18 15:47] diamondr commented on #16
Ok I'll make it the other way. Happy to do it if you think its clearer.

On Thu, Oct 18, 2018 at 8:42 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-10-18 15:49] huntallcott commented on #16
sweet, thanks. let me know when you're done with the lyx file.

[2018-10-18 19:05] huntallcott commented on #3
@diamondr I am remaking the Gelbach decomp. Can you confirm that HealthIndexNoSupply.dta as of Sep 18 2018 is the final version?

[2018-10-18 19:20] diamondr commented on #3
Yes.

On Thu, Oct 18, 2018 at 2:12 PM Hunt Allcott <notifications@github.com>
wrote:

[2018-10-18 19:51] moosedube commented on #3
@huntallcott

* I just addressed several of the comments/notes you added to the paper.  I think section 5.2 on store choice can be dropped (the discussion about store choice and identification is no longer in the paper).

* in the identification discussion for preferences, I would suggest retaining the reference to the moment condition (instead of the log(Y) equation) as it ties more closely to ou

[2018-10-18 20:08] huntallcott commented on #3
JP, give me a ring?
I think we actually do want to hand-wave around the moment condition due to R1 concerns and some of the empirical results. Wanted to discuss by phone.

[2018-10-19 02:42] handbury commented on #6
The results are pretty similar whether you include chain or chain*household location interactions, up to when you use chain*HH zip controls

Controlling for chain*year FEs reduces the IQR of the health index from 59 to 41 std deviations and we lose less than 1% of observations by restricting ourselves to chain*years where we observe HHs in both the top and bottom quartiles.  With chain*HH state*ye

[2018-10-19 12:16] huntallcott commented on #14
@mollyschnell @moosedube @diamondr ,
I think all three of you may be editing separate parts of the lyx file. @mollyschnell you have intro through end of section 4, @moosedube you have parts of the demand model, and @diamondr you have a figure note in the demand model appendix.
One quick request - can you pull and push very regularly so as to avoid having lyx files that are very out of sync? Althou

[2018-10-19 14:41] diamondr commented on #14
I updated my figures and figure note. I didnt write into the text the
description of the product group IV maps. I did it yesterday but then there
were lots of conflict issues when i pulled today so I just deleted it. I
can put them in when others are done.

On Fri, Oct 19, 2018 at 7:16 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-10-19 14:47] moosedube commented on #14
Add all your material now and let me know when it’s done.  I will then edit updates version of paper.

JP

Sent from my iPhone

On Oct 19, 2018, at 9:41 AM, diamondr <notifications@github.com<mailto:notifications@github.com>> wrote:

I updated my figures and figure note. I didnt write into the text the
description of the product group IV maps. I did it yesterday but then there
were lots of conflic

[2018-10-19 15:53] huntallcott commented on #14
Great. So Rebecca, then JP, then Hunt, if I understand correctly the time order of edits to the structural section? (With apologies, I probably can't get back to this until tomorrow afternoon or Sunday anyway.)

[2018-10-19 15:58] moosedube commented on #14
I did upload a version with edits about 30 mins ago.  Take a quick look.

JP

From: Hunt Allcott <notifications@github.com>
Sent: Friday, October 19, 2018 10:54 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] General discussion thread (#14)

Great.

[2018-10-19 15:59] huntallcott commented on #6
@handbury many thanks for doing this.
I think I'm in favor of chain by county instead of chain only, but I am open to others' views!

[2018-10-19 20:53] handbury commented on #6
@huntallcott Sounds good.  I committed the results with chain x HH county so that we can put them into the draft we want them.

[2018-10-21 13:05] huntallcott commented on #3
@moosedube , I do have a question.

In reading the new text I had proposed on how we identify \beta, I got confused. I think we do need to write the moment condition (which shows that epsilon PLUS DELTA is orthogonal to a), because otherwise the reader naturally assumes that we are just setting epsilon orthogonal to a, and then it’s not clear how we could identify off of variation between product

[2018-10-21 13:52] huntallcott commented on #3
@diamondr a few weeks ago we talked about adding region fixed effects to the model. In re-editing the price instrument section, I realize that I would be much more convinced if the model had the following two fixed effects added:
* Census region (ideally census division) by product group fixed effects
* Product group by income category (above vs. below median income store zip code) fixed effects

[2018-10-21 14:10] huntallcott commented on #16
@diamondr, I'm looking at figure 8. I think you said [here](https://github.com/huntallcott/FoodDeserts/issues/14#issuecomment-431386478) that you updated the figure note, but the regression coefficient and standard error are exactly the same. Is that just a coincidence?
Aside: one option is to use the option reportreg or similar, so that this updates automatically?

[2018-10-21 15:46] moosedube commented on #3
That was my original thinking too. But I dropped the equation based on your concerns.

Sent from my iPhone

On Oct 21, 2018, at 8:05 AM, Hunt Allcott <notifications@github.com<mailto:notifications@github.com>> wrote:

@moosedube<https://github.com/moosedube> , I do have a question.

In reading the new text I had proposed on how we identify \beta, I got confused. I think we do need to write the mom

[2018-10-21 16:20] huntallcott commented on #3
JP, you need to correct me if I say something stupid! I will take another look.

@diamondr, more questions for you. Let me know if I am being stupid!
1. How are you constructing "WTP for Health Index" now? It's different now that we aren't using RDIs per se for the Health Index, so the old text doesn't seem to apply. I revised the text to reflect what I think you should do:

To derive a summary st

[2018-10-21 17:05] huntallcott commented on #3
@diamondr another question
3. Am I right that the "linearized" first stage F-stats are from explore_iv.do? I ran these regressions and the F-stats do not correspond to what is hard-coded into the do file or the lyx file.

[2018-10-21 22:28] diamondr commented on #16
This is updated.

[2018-10-21 22:29] huntallcott commented on #3
@diamondr, you wrote: "To ease computation, we assume that the subsidy for a specific product group is proportional to its Health Index." Am I right that this sentence is incorrect -- the subsidy for a *product* (not a product group) is proportional to its Health Index? (If it's proportional at the product level, it won't be proportional at the product group level, right?)

[2018-10-21 22:30] diamondr commented on #3
I just reran them too. They match for me? What are you getting?

[2018-10-21 22:40] huntallcott commented on #3
@diamondr I am continuing to edit the subsidy section.
You wrote the below:
![image](https://user-images.githubusercontent.com/23505296/47273283-0149f180-d560-11e8-8e24-2cb85db575b9.png)
I'm confused by the presence vs. absence of the 1 subscript. I can fix this if you confirm that you're using income group 1's "observed price" to calculate the net of subsidy price in Equation 31. Is that the case

[2018-10-22 14:42] huntallcott commented on #3
@diamondr I just pushed my final revisions to section 7, including the subsidies section. I left some comments and questions in the text. Can you take a look at those and the remaining open issues on this thread, including [re-running decomp_levels_gmmiv](https://github.com/huntallcott/FoodDeserts/issues/3#issuecomment-429999707)?

I will stay out of the doc.

(Incidentally, I now note that the pa

[2018-10-22 17:02] moosedube commented on #3
Decided to leave things as-is in that spot.

In subsidy section, you had a comment about the footnote reference to CEX.  I would suggest we delete the reference to missing trips in Nielsen.  After all, CEX is self-reported and may also have holes or measurement error. But I think it is objectively fair to say that we don’t have thorough records of the random weight purchases. So CEX is more compre

[2018-10-23 20:33] handbury commented on #6
@huntallcott:  @mollyschnell and I looked into the questions you had in section 4.3.

It made sense that Figure 1 didn't match the "Raw" points on the top left of Figure 6 because:
(i) the "Raw" points are based on the "identification" sample.
There were other reasons that the points didn't match, however:
(ii) Bin scatter was not estimating the residualized means with the same spec that we had wr

[2018-10-24 00:02] huntallcott commented on #6
@handbury @mollyschnell thanks, and thanks for entertaining my questions on that section. Responses:
(ii): I like the binscatter for Fig 1, and I also like the idea that we do the same thing in Fig 6 AND Fig 1. In keeping with that, another way to do this in a simple way is just to write the linear regression
Y = \alpha w_i + \gamma X_it + \mu + ...
And then say we're showing a binscatter of Y and

[2018-10-24 01:31] handbury commented on #6
Thanks @huntallcott.  We can implement the binscatter procedure for the market fixed effect approach (though I’m not sure it would be efficient to use the binscatter with the market fixed effects unless we were sure that binscatter used something efficient like areg underneath).

I see what you mean in describing the binscatter of y and x as being those variables “from a regression.”I I guess bins

[2018-10-24 11:43] huntallcott commented on #15
@moosedube just a ping on the above post. Would you be willing to take a final look at QJE Cover Letter.docx in dropbox/JournalSubmissions/QJE/ and make sure everything on the demand model is crisp and reflects our most recent discussions about identification etc.? Many thanks if you can do that.

[2018-10-24 12:07] huntallcott commented on #6
@handbury , thanks.
Are you sure that in practice you get a messy plot when you use different fixed effects approaches in binscatter?
One other option to consider, and @handbury maybe this is equivalent to what you're saying, but what if we create a new variable called HHSampleAvIncomeBin in the household-panel data, that has the mean income within each of the 15-tiles of HHSampleAvIncome? Then we

[2018-10-24 13:28] moosedube commented on #15
I made a few edits, including adding responses to comments 6.3 and 6.4 by referee one. Please take a look.

In re-reading, I worry that we may sound too defensive in our response to point 7 regarding the structural interpretation. We have stated exactly what variation we use to identify our nutrient preferences. The referee has not provided a specific way in which allegedly endogenous nutrient var

[2018-10-24 14:52] handbury commented on #6
@huntallcott - I've rewritten the code to process using binscatter.  The changes in the residualized income bins are small between the full sample and the identification sample.  The changes are - unsurprisingly - much larger when we additionally residualize from market fixed effects (the 1Q/4Q mean income going from $18K/$114K in the data residualized from demographic controls only to $28K/$94K a

[2018-10-24 15:55] handbury commented on #6
The results using the binscatter method are very different.

I think that this is because x is not actually controlled for in the regression that residualizes y and x from the controls and absorb variable.

In our case, it runs Y = alpha + gamma X_it  (+ delta_m) + epsilon and w = alpha' + gamma' X_it (+ delta'_m) + epsilon' and the does a binscatter of (alpha + epsilon) against (alpha' + epsilon'

[2018-10-24 17:16] handbury commented on #6
Also, @huntallcott, the "discrete" workarounds we thought of to align bins across the specs don't work with controls (that is, neither controls() or absorb() work correctly with the xq() or discrete options).  As a workaround, I tried residualizing the y variable independently from the control and then run bin scatter without controls and absorb but this isn't a correct application of the method (

[2018-10-25 12:28] huntallcott commented on #6
@handbury thanks. Who knew that binscatters were so complicated. Thanks for digging in to this.
I'm in favor of your preferred approach for Figure 6. Great.
I'm also in favor of the binscatter for Figure 1, and in any event we use binscatters elsewhere in the paper. So my proposal is just to have that inconsistency between how Figs 1 and 6 are produced. I think that this is totally tolerable.
Full

[2018-10-26 02:29] handbury commented on #6
@huntallcott - I worked on 4.3, taking out the language comparing the baseline here with Figure 6 and putting the sample definitions up front.

@mollyschnell - let me know if you can think of better organization/wording to streamline this section back to its original 1+ page length.

The retail chain x county market spec is a bit awkward to describe in parallel with the zip code market spec.

[2018-10-30 01:35] mollyschnell commented on #6
@handbury: Thanks for this!

I agree that it's a bit awkward to discuss the two specifications in parallel. It would be easier if "m" were one dimensional (i.e., a zip code or a store), but there's not a great way to say what Y_imt is  when m = store x location (note that we currently just don't define m in the text).

@huntallcott, any ideas?

[2018-10-30 14:56] huntallcott commented on #6
Hi @mollyschnell @handbury,
I am actually not against the way it's done in the version I just pulled. It also parallels 4.2, where we introduce m and say that m could be either a county or zip code, then have one equation covering both "market" definitions.
I would just say that a market is is either a zip or a chain-location pair, and proceed as you do.
If I'm missing something, that's fine and p

[2018-10-30 23:40] Rahkovsky commented on #14
@huntallcott
I worry that we jump in our discussion between food-desert population and low-income population. For example, when we say “Overall, these findings suggest that supply-side policy initiatives aimed at eliminating food deserts will have limited effects on healthy eating in disadvantaged neighborhoods.” I think instead we measure elimination of the differences in prices and product avail

[2018-11-02 15:14] huntallcott commented on #3
@diamondr:
Per our email thread, please let me know when you're done with your final read, and I'll jump in later today.
Three questions on the demand model section:
1. In Equation 19 I think we still need to delete the W?
2. In Equation 30, should s_{n} be written as_{gj}, given that we are calculating the subsidies at the product group x income group level? If I'm understanding the text correctl

[2018-11-02 16:18] moosedube commented on #3
Good catch on equation 19.  I missed that when I was re-introducing the edits on the method of moments estimator.

JP

From: Hunt Allcott <notifications@github.com>
Sent: Friday, November 02, 2018 10:15 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts

[2018-11-02 16:35] diamondr commented on #3
Good catches on both of these. They are updated and I'm doing a final read
now.

On Fri, Nov 2, 2018 at 8:14 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-11-03 12:45] huntallcott commented on #3
@moosedube ,
Two very quick questions:
1. Just below Equation 19, I am deleting the text that defines W, because W is no longer in the equation. Sound OK?
2. Some of the nutrients are redefined from the HEI. Am I right that Meat protein =Total protein - Fish/plant protein, and Other Fruit = Total Fruit-Whole Fruit?

[2018-11-03 13:44] moosedube commented on #3
Yes.

On eqtn 19, sorry somehow my original edits are getting over-written.  But, thanks for catching that one.

On the bright side, the paper is reading very well now.  The intro is clear and concise. I think we are close to having a submittable document at last.  Nice work everyone!

JP

From: Hunt Allcott <notifications@github.com>
Sent: Saturday, November 03, 2018 7:46 AM
To: huntallcott/FoodD

[2018-11-03 13:59] diamondr commented on #3
That’s correct about the redefinition.

On Sat, Nov 3, 2018 at 6:44 AM moosedube <notifications@github.com> wrote:

[2018-11-04 14:13] huntallcott commented on #18
@handbury @mollyschnell two very minor editing notes:
1. There was a question about the household size control. It's a continuous variable because it's in units of adult equivalents. I changed the text in 4.3 to make slightly clearer.
2. I changed "nutrition-income gradient" to "nutrition-income relationship" in 4.3

[2018-11-04 14:35] huntallcott commented on #3
@moosedube @diamondr,
Very nice on the demand model. I wanted to have one or both of you double-check the following changes. This should only take a few minutes.

1. @moosedube I added a map of large RMS chains on page 75 to give a sense of the geographic variation in the instrument. Is this going to be OK with Nielsen? If definitely not, then please delete it.
2. In 6.3, I clarified identifying a

[2018-11-04 14:35] huntallcott commented on #6
@mollyschnell @handbury thanks for your great work here. Closing this issue.

[2018-11-04 14:35] #6 closed

[2018-11-04 14:35] #13 closed

[2018-11-04 14:36] #12 closed

[2018-11-04 14:36] #9 closed

[2018-11-04 14:36] huntallcott commented on #16
@diamondr thanks for your efforts on defending the instrument! Closing this issue.

[2018-11-04 14:36] #16 closed

[2018-11-04 14:42] huntallcott commented on #15
Closing this issue, as I think we've revised as much as possible to satisfy the referees.

[2018-11-04 14:47] huntallcott commented on #17
Actually, @diamondr, one more thing:
There are two very old files in Code/DataPrep/RMS/
a. CollapseMovementDatabyUPCStoreYear
b. CreateCounterFactualSupplyUPC

I am not using these. Are you? If not, can you delete?

[2018-11-04 15:00] #15 closed

[2018-11-04 15:03] diamondr commented on #3
We are not using projection weights for the GMM. We can the next time. I
had not added any notes about this to the draft.

I agree with all your other edits! Thanks for all your hard work on this!

On Sun, Nov 4, 2018 at 6:35 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-11-04 15:10] diamondr commented on #17
Deleted! :)

On Sun, Nov 4, 2018 at 6:47 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-11-04 15:36] huntallcott opened #19 "Finalize and submit paper"
The goal of this issue is to finalize and submit the paper. I think we want to do the following things, in the following order:

- [x] @huntallcott finish edits to QJE Cover Letter.docx

- [x] @huntallcott: finish replication files once #17 is complete.

- [x] @mollyschnell: do you want to send this to your editor? I'm on the fence.

- [x] @huntallcott: submit to QJE. I'm happy to do this.

- [x]

[2018-11-04 17:03] huntallcott commented on #3
Great. I accepted the changes and fixed another typo and just pushed the revision.

[2018-11-04 17:05] moosedube commented on #3
1.  @moosedube<https://github.com/moosedube> I added a map of large RMS chains on page 75 to give a sense of the geographic variation in the instrument. Is this going to be OK with Nielsen? If definitely not, then please delete it.

Thanks for taking the lead on all these issues.  As long as the creation of the map only used information contained in the Nielsen-Kilts pull, it should be fine.

Best

[2018-11-04 22:09] huntallcott commented on #19
Just finished the cover letter. @mollyschnell what do you decide about your editor?

[2018-11-04 23:05] mollyschnell commented on #19
@huntallcott I'm fine either way—if you think it's good to go then that's fine with me.

Molly

[2018-11-04 23:16] #3 closed

[2018-11-04 23:18] huntallcott commented on #19
Got it. I’m happy to do without the professional. But I wonder if you’d be
willing to give it at least a spell check using the lyx spell checker, and
hopefully any other once over you like? The spell check takes a good few
minutes, and my guess is that I didn’t catch all the grammar stuff as I
worked on it yesterday and today, and I’m running into a time constraint.
Would that be possible?
I could

[2018-11-05 06:08] mollyschnell commented on #19
I unfortunately won't have the chance to get to this until Wednesday. I can send it to the proof-reader (she'll be faster than I'll be!), and I'll implement the changes when I get the paper back. I can give you an update on timing when I hear from her, but I would think submitting late Wednesday would be feasible.

Molly

[2018-11-05 10:08] handbury commented on #17
ReducedForm/Tables deleted.  Closing issue.

[2018-11-05 10:08] #17 closed

[2018-11-05 11:43] moosedube commented on #19
Sounds like a good idea.

From: mollyschnell <notifications@github.com>
Sent: Monday, November 05, 2018 12:08 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Assign <assign@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Finalize and submit paper (#19)

I unfortunately won't have the chance to get to this until W

[2018-11-05 11:56] huntallcott commented on #19
Great, thanks Molly.

[2018-11-08 22:16] diamondr commented on #19
Hi All,

I just wanted to touch base on submission plans? Are we all signed off on
this new draft? Excited to submit. Great work everyone!

Best,

Rebecca

On Mon, Nov 5, 2018 at 6:56 AM Hunt Allcott <notifications@github.com>
wrote:

[2018-11-08 23:37] mollyschnell commented on #19
I just pushed some final edits and am now signed off. We should be good to go!

Molly

[2018-11-09 13:13] #18 closed

[2018-11-09 13:13] huntallcott commented on #17
Minor: @diamondr @moosedube what about Code/Analysis/ModelEstimates/, is this folder clean of outdated files? In particular, I'm wondering about files called beta?_1120.mat.

[2018-11-09 13:15] huntallcott commented on #17
And beta2temp.mat?

[2018-12-26 19:38] #19 closed

[2018-12-26 19:39] huntallcott opened #20 "Revise structural model"
The goal of this issue is to revise the structural model and writeup per QJE referee comments.
@diamondr, @moosedube, and I are talking today to get started.
Meeting notes for today are [here](https://docs.google.com/document/d/1udl84XM9icVlII5nwUTV1NtZmC8LyWZa5mZY5SCfHyc/edit?usp=sharing).

[2018-12-26 19:43] huntallcott opened #21 "Revise reduced form section"
The goal of this issue is to revise the reduced form sections for the QJE.

There are a few referee questions to answer and footnotes to change, etc. But two analysis questions:
1. Should we control for convenience stores per R2? HA can take the lead on this.
2. @mollyschnell @handbury what do you think about R2's comment 6? Note that Larry Katz's decision letter says "Please pay particular attent

[2019-01-02 21:01] handbury commented on #21
Hi @huntallcott:

Larry was pretty clear with his directions here so let's follow them.  I also see where R2 is coming from - the within-location analysis certainly doesn't provide as tight a bound with the linear HEI than it was with the other indexes.  How about a footnote/note somewhere to indicate that the point estimates (even the looser structural point estimates) are all within bounds ident

[2019-01-03 14:05] huntallcott commented on #21
OK, this sounds reasonable. I lean slightly toward putting it in online
appendix, but am also OK if you want to take it out entirely. Yes, please
go ahead and implement that removal (including in intro/conclusion?) if you
have time!

--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2019-01-23 13:41] handbury commented on #21
Hi @huntallcott,

To be honest, I don't remember writing the 4.3 discussion though the tracked changes are telling me that I did! I think that JP might have replaced the old section with this discussion when he went through and did his edits and it got attributed to me in the merge.

The changes that I made were to cut the old 4.3 (subsec:CrossSection) entirely and add a sentence to the discussion

[2019-01-23 16:24] moosedube commented on #21
Hi Hunt,

I did not make any edits to section 4.3.  I only made edits to the sections 5 onwards and corresponding discussion in intro & conclusion.  I also edited the references to “model free” and “reduced form.”

JP

From: handbury <notifications@github.com>
Sent: Wednesday, January 23, 2019 7:42 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.D

[2019-01-23 17:24] handbury commented on #21
Feel free to delete 4.3 entirely then!

From: moosedube <notifications@github.com>
Sent: Wednesday, January 23, 2019 11:24 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Handbury, Jessie <handbury@wharton.upenn.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Revise reduced form section (#21)

Hi Hunt,

I did not make any edits to section 4.3.

[2019-01-24 13:13] huntallcott commented on #21
Great!
@handbury @moosedube I deleted all of 4.3 and the figure, and I also made sure that the text says "reduced form" instead of "descriptive" per my emails with JP.

[2019-01-24 13:18] handbury commented on #21
Thanks @huntallcott! Let @mollyschnell and I know how we can help with the other revisions.

[2019-01-26 15:58] huntallcott opened #22 "Draft referee responses"
The goal of this issue is to draft referee responses. I have put some templates in GitHub/RefereeResponses/.

[2019-01-29 21:21] Rahkovsky commented on #22
Hi Hunt,

Which questions should I start with?

Ilya

On Sat, Jan 26, 2019 at 10:58 AM Hunt Allcott <notifications@github.com>
wrote:

[2019-01-29 23:57] huntallcott commented on #22
@Rahkovsky good question, thanks for asking.

I'll tell you one thing that would be a big help: would you be willing to prepare the response docs for the editor and three referees? For the moment, that just means cutting and pasting each specific comment into the lyx docs in GitHub/FoodDeserts/RefereeResponses/source, making the referee quote in italics, and separating with a vertical space. When

[2019-01-29 23:58] moosedube commented on #22
I already did some of that with the material related to the structural analysis (see Github).

From: Hunt Allcott <notifications@github.com>
Sent: Tuesday, January 29, 2019 5:57 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Assign <assign@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Draft referee responses (

[2019-01-30 12:51] Rahkovsky commented on #22
Ok, I will do that.

On Tue, Jan 29, 2019 at 18:57 Hunt Allcott <notifications@github.com> wrote:

[2019-02-04 17:04] huntallcott commented on #22
Thanks @Rahkovsky for setting up these referee response docs. I started to fill these in this morning and plan to continue later today and tomorrow.

[2019-02-05 16:50] huntallcott commented on #20
@moosedube thanks for your work on the text. Two questions:
1. Can 5.1 be entirely or mostly appendixed, and just start with something closer to the CES utility in what’s now Equation 6? I notice that there’s still some things there (script S, bold y, bold p, bold A, bold Theta, etc., plus continuity and concavity assumptions, etc.) that don't really add any intuition and are not used later in the

[2019-02-05 16:51] huntallcott commented on #22
@mollyschnell @Rahkovsky @handbury @moosedube @diamondr ,
* I have finished revising the reduced form and stylized facts sections in response to the referee reports, and have responded to all comments in the reports regarding those sections. I did a little bit on the referee responses for the structural section.
* @diamondr and/or @moosedube, would you be willing to draft the rest of the responses

[2019-02-05 17:10] huntallcott commented on #22
@mollyschnell points out that we have already dropped two figures given that we dropped the within-location figure. So my third bullet is less important, although I'm still moderately in favor of appendixing the IV validity check scatterplot.

[2019-02-05 22:13] moosedube commented on #20
On 5.1, we used to use this version of the model to make a connection between our structural model and the so-called “reduced-form” approach used for our entry event study, which does look at store choice as well.  That said, I agree that we don’t per se need this.  We could delete the paragraph starting “Each week” in section 5.1 and then go straight to 5.2 (i.e., combine the sections).  In the f

[2019-02-06 12:50] huntallcott commented on #20
Great, yes, @moosedube I would be in favor of that proposal.

[2019-02-06 15:03] moosedube commented on #20
I noticed that the most recent version of the paper is now in Lyx 2.30.  Does this mean we no longer need to keep version 2.2 on our computers?  In the fall, I think you were having trouble getting 2.2 working on your computer.

From: Hunt Allcott <notifications@github.com>
Sent: Wednesday, February 06, 2019 6:50 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre

[2019-02-06 15:14] huntallcott commented on #20
Sorry, I just changed back to 2.2. Let's keep it there just to be safe.

[2019-02-06 15:27] moosedube commented on #20
Uh oh … already uploaded the revised document with section 5.1 and 5.2 combined into a single short section.

JP

From: Hunt Allcott <notifications@github.com>
Sent: Wednesday, February 06, 2019 9:14 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] R

[2019-02-24 18:14] huntallcott commented on #20
@moosedube I just re-did your revision in lyx 3.2.
@diamondr, just checking in. I know there was a lot of re-analysis to do here, but I just wanted to see how it's going!

[2019-04-08 19:53] huntallcott commented on #20
@diamondr thanks for your great work on this, and @moosedube thanks for your edits over the weekend as well.
@diamondr I have a couple of questions.
1. You have two nice suggestive tests of the exclusion restriction in 6.3. It occurs to me that both are really doing the same thing, as I suggest in my new proposed text:
*Of course, we cannot test whether the instrument is correlated with unobserved

[2019-04-10 00:30] diamondr commented on #20
Hi Hunt,

Thanks for these follow ups. See below:

   1. You have two nice suggestive tests of the exclusion restriction in
   6.3. It occurs to me that both are really doing the same thing, as I
   suggest in my new proposed text:

*Of course, we cannot test whether the instrument is correlated with
   unobserved tastes. We can, however, present suggestive tests of whether the
   instrument is co

[2019-04-10 02:55] huntallcott commented on #20
@diamondr thanks for this. Per our emails, I fixed most of the file conflicts on the repo, but I'd be indebted if you would be willing to re-insert those changes into FoodDeserts.lyx. Then I'll take a look. Seems like we are *very* close!

[2019-04-10 09:38] moosedube commented on #20
Thank you both for the extra care on this final step of writing and analysis.  Besides appeasing the editor, I think this goes another step towards encouraging others to use this instrument.

Best

JP

Sent from my iPhone

On Apr 10, 2019, at 4:55 AM, Hunt Allcott <notifications@github.com<mailto:notifications@github.com>> wrote:

@diamondr<https://github.com/diamondr> thanks for this. Per our ema

[2019-04-10 14:55] huntallcott commented on #20
@moosedube @diamondr @handbury @Rahkovsky @mollyschnell ,
Over the last several days, I took another pass through the writeup. Comments/questions below.
1. Larry had asked us to cut five pages, and we were only halfway there. I ruthlessly cut another three pages, mostly off of the structural model sections. For example, I moved section VI.B to the appendix, and I substantially shortened VII.A and

[2019-04-10 15:21] huntallcott commented on #22
@diamondr @moosedube @mollyschnell @Rahkovsky @handbury,
Regarding the referee responses:
* First, minor, @moosedube please remember in the referee responses to use the correct section numbers as they compile in the pdf (e.g. VI.B instead of 6.2).

More substantively, I am concerned that we are not quite there in terms of responding to the referee concerns about the instrument. My fear is that if

[2019-04-11 23:57] moosedube commented on #22
Hi Hunt,

I figured I would spare the others the e-mail spam, so I’m just responding to you.

Is there a dataset that’s easily accessible that contains the instrument at the store-market-product group level?  If so, I can mess around with that and look at patterns of comparative advantage and region to see if I can tie it back to something institutional.  I may be wrong, but cookies is unlikely to

[2019-04-12 12:02] huntallcott commented on #22
@moosedube thanks for this email, I'll respond on GitHub because I see it here on GitHub!
Thanks also to Rebecca for taking the lead on the work she's been doing.

The dataset we need doesn't exist, but per my [point 3 above](https://github.com/huntallcott/FoodDeserts/issues/22#issuecomment-481736087) I wrote the code that should generate it, in \GitHub\FoodDeserts\Code\DataPrep\RMS\MakeInstrument

[2019-04-12 13:58] moosedube commented on #22
Thanks!!!  Will work on that as soon as code is done.  I’m giving talks here in France next week.  But I will make time to get this done.

JP

Sent from my iPhone

On Apr 12, 2019, at 2:02 PM, Hunt Allcott <notifications@github.com<mailto:notifications@github.com>> wrote:

@moosedube<https://github.com/moosedube> thanks for this email, I'll respond on GitHub because I see it here on GitHub!
Thanks

[2019-04-13 06:56] moosedube commented on #20
Hi Hunt,

Are we sure we want the first paragraph of Appendix D.B in the Appendix?  The moment condition (27) is not obvious at first glance because it does not remove all the mean product group effects. So we use the two types of variation to identify the nutrient preferences. It’s true that we state the moment condition in equation (14), but we do not explain the intuition for that moment.

JP

[2019-04-14 19:56] huntallcott commented on #20
@moosedube,
Good question. My opinion was that this detail about the two types of variation is secondary. But I just tracked a change that moves that first para to right after eq (14) and deletes that whole appendix subsection. Take a look and accept or reject?

[2019-04-15 05:44] moosedube opened #23 "positioning"
@huntallcott @diamondr @handbury @mollyschnell @Rahkovsky

I wonder if we want to modify the intro to have updated information about total spending on store subsidies.  Check out this link: http://thefoodtrust.org/what-we-do/administrative/hffi-impacts/the-success-of-hffi.

It looks like HFFI has expanded its scope including quite a few state and local projects. At the federal level, they have lev

[2019-04-16 14:48] huntallcott commented on #23
Great. @mollyschnell is it OK to assign this to you? I think the action item just involves updating the sentence and/or footnote describing this stuff, and perhaps updating the citations accordingly.

[2019-04-18 13:33] mollyschnell commented on #23
No problem! I can add more details/ new citations when doing the final read-through. Thanks for the updated info @moosedube.

[2019-04-18 14:35] #21 closed

[2019-04-19 02:53] huntallcott commented on #22
@moosedube @diamondr following up on my [post above](https://github.com/huntallcott/FoodDeserts/issues/22#issuecomment-481736087).
I constructed the table and figure I proposed in 1 and 2. See pages 68-69 of the current pdf. Results are pretty interesting actually.
I'll write these in tomorrow and then will be done.
@moosedube ball is in your court to think about 4 a little bit if possible.

[2019-04-19 02:55] huntallcott commented on #20
@diamondr a quick response today to point 3 [here](https://github.com/huntallcott/FoodDeserts/issues/20#issuecomment-481725503) would be really helpful. I'm trying to finish everything up.

[2019-04-19 15:53] huntallcott commented on #22
@moosedube @diamondr I have finished my referee report and paper edits over the past 1.5 days and am signed off. I unfortunately need to stop on this to catch up on other stuff.

@moosedube I wouldn't work too hard on point 4, but if you find something that's fine.

[2019-04-19 15:57] huntallcott opened #24 "Molly's final read"
This is the thread for Molly's final read, per our emails.
One additional thing: I think that your read will be invaluable, but I would suggest you go pretty light on the edits, just focusing on obvious errors or typos or anything big.
One reason is that there are a ton of "dependencies" now between the referee responses and the paper, e.g. count of pages, table and figure numbers, count of footno

[2019-04-21 00:06] mollyschnell commented on #24
Sounds good — I'll go very light on the edits. I'm hoping to have this wrapped up by EOD Tuesday at the latest.

[2019-04-24 01:43] mollyschnell commented on #24
@huntallcott: I just pushed the draft with minor edits (fixed typos + adjusted language for clarity here and there). I also went through the response documents and checked that the exact quotes/ page numbers still align. I think we're good to go!

[2019-04-24 02:47] huntallcott commented on #23
Thanks @mollyschnell, closing this after your additions to footnote 3.

[2019-04-24 02:47] #23 closed

[2019-04-24 02:52] huntallcott commented on #22
@mollyschnell @moosedube just want to get a sense of things here.
After Molly's read in #24, we are now ready to submit the revision as early as tomorrow morning.

My [point 4](https://github.com/huntallcott/FoodDeserts/issues/22#issuecomment-481736087) is the only remaining loose end other than some things for @diamondr in #20 that can happen later.
1. @moosedube I know you've been working on [po

[2019-04-24 02:52] huntallcott commented on #24
@mollyschnell fantastic. I will accept these changes in the morning!

[2019-04-24 16:19] moosedube commented on #22
Hunt,

On point 4, I think comparative advantage will come primarily from private labels: “More than half (53%) of today’s shoppers visit a particular retailer specifically to buy its store brands, according to research from Daymon. Furthermore, 85% of shoppers trust private brands as much as national brands and 81% buy them on every, or almost every, shopping trip.” (Shopper Marketing 2019).

The

[2019-04-24 17:45] huntallcott commented on #22
Jp-
Ok, this is useful, thanks. You mentioned that there are plenty of articles
describing that certain retailers are better in particular product groups
with their store brands. Do you have any examples of such articles?
After that I’d be ready to close this.
Many thanks.

On Wed, Apr 24, 2019 at 12:19 PM moosedube <notifications@github.com> wrote:

--

Hunt Allcott

https://sites.google.com/site

[2019-04-24 18:12] mollyschnell commented on #22
Sorry to jump in so late. I think the information on private labels is super useful, but I also thought that our answer to R1 was already quite compelling. So perhaps just a few sentences about the prevalence of private labels (similar to the first quote provided by JP) and an example or two outlining comparative advantages in private labels across product groups would suffice?

[2019-04-24 18:44] moosedube commented on #22
I should have specified that these are in the trade press and not academic articles.  The academic literature has focused more on how PLs affect competition more broadly and not on specific retailers.

JP

From: Hunt Allcott <notifications@github.com>
Sent: Wednesday, April 24, 2019 12:45 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicag

[2019-04-24 18:47] moosedube commented on #22
At this stage I agree. I think the original plan was to try and show evidence of this using our data. But I am not sure how to do that without knowing the identity of specific chains in our data (e.g., to correlate a chain’s store presence with the demand model residuals in categories where the chain has a comparative advantage).

JP

From: Molly <notifications@github.com>
Sent: Wednesday, April 2

[2019-04-24 20:39] handbury commented on #22
I know that I am jumping in very late here and will preface by thanking you all handling the revision and especially Hunt for managing it so meticulously!

My comment here was that I thought that we could observe parent code in the RMS data and could use that as a proxy for chain.

[2019-04-24 20:41] moosedube commented on #22
We have a code but not the actual name.

Sent from my iPhone

On Apr 24, 2019, at 3:40 PM, handbury <notifications@github.com<mailto:notifications@github.com>> wrote:

I know that I am jumping in very late here and will preface by thanking you all handling the revision and especially Hunt for managing it so meticulously!

My comment here was that I thought that we could observe parent code in the

[2019-04-24 20:45] handbury commented on #22
Ok.  So we would have to use the TDLinx/Nielsen zip data to infer store presence and then the RMS data to infer the relative comparative advantage of the chain across private label goods categories.

[2019-04-24 21:32] moosedube commented on #22
Two things:

1.       We only have the retailer names for some of the codes (up to 2012)

2.       We are not supposed to have those names.

I am concerned about (2) since, legally, we are not supposed to have those store names. I have that file because it used to be part of the data Nielsen sent us. But it’s not part of the Kilts release as the retailer identities are supposed to be masked.  In f

[2019-04-24 21:56] huntallcott commented on #22
Jp-
Trade press would be fine. Don’t you think it would helpful to cite a trade
press article discussing these different comparative advantages by chain in
different groups? If it’s easy, can you supply a reference, again trade
press is fine?
--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2019-04-24 22:30] moosedube commented on #22
How’s this:

In recent years, supermarket chains have increasingly relied on private label programs to differentiate themselves.  Different types of chains have developed comparative advantages in specific private label programs.  Consumer Reports finds that across different food categories, different chains supply the leading private labels (Consumer Reports 2012). In the cookie category, Safeway

[2019-04-25 12:27] huntallcott commented on #24
@mollyschnell this is truly tremendous. Thanks again. Closing this issue.

[2019-04-25 12:27] #24 closed

[2019-04-25 13:28] huntallcott commented on #22
@moosedube thanks for this quote.
I wrote the following into the paper:

I shortened from what you wrote because I thought it could be done, and I also recommend we not include the Consumer Reports stuff because you seemed to equivocate on whether this is exogenous, and in any event that evidence seemed to me to be more about quality (e.g. "the leading private lables") than about price.

I'm going

[2019-04-25 13:28] #22 closed

[2019-04-25 13:33] moosedube commented on #22
Hunt, as always, an excellent re-write.

[2019-07-01 23:30] huntallcott opened #25 "Finalize op-ed"
@moosedube,
@mollyschnell and I met last week and have arrived at a draft of the op-ed that we're happy with. It's in dropbox/FoodDeserts/FoodDesertOpEd/Food deserts op-ed.docx.
Can you take a look?
The goal of this issue is for you to make any changes you desire and for us to complete the draft.
Then we can open another issue for submitting this to outlets.

[2019-07-02 17:23] huntallcott commented on #25
@mollyschnell @moosedube,
moving our email conversation to GitHub.
1. Casual writing: I am getting the sense that this is utterly crucial for op-ed writing. Contractions and beginning sentences with "But" or "And" is totally OK.
2. Why nothing about nutrition education? My sense is that soda taxes are way more effective than nutrition education, as a practical matter. But I'm happy for you to add

[2019-07-03 15:02] mollyschnell commented on #25
I like the new part on simultaneity—good call on putting it after the results. I think this looks good to go! Let me know if there's anything else I can help with. Molly

[2019-07-03 15:08] moosedube commented on #25
Agreed. I like the tone and flow of the revised document. Happy to help if there is any additional work to be done.

Thanks for taking the lead!

Cheers,

JP

From: Molly <notifications@github.com>
Sent: Wednesday, July 03, 2019 10:02 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subje

[2019-07-03 15:29] #25 closed

[2019-07-03 15:35] huntallcott opened #26 "Submit op-ed"
The goal of this issue is to get the op-ed accepted somewhere.

@moosedube do you want to work through Booth or NYU? The NYU guy is pretty good, although he is a bit less excited about this one because our results have collectively already been covered by many outlets. How good are the Booth people in terms of getting this kind of thing placed?

If you want to go through Booth, can you send it alo

[2019-07-03 15:50] moosedube commented on #26
Sure I can send it along.  Like NYU, Booth did create a release on this through our CBR magazine and we got media coverage. But this is kind of separate.

Best,

JP

From: Hunt Allcott <notifications@github.com>
Sent: Wednesday, July 03, 2019 10:36 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.git

[2019-07-03 16:48] huntallcott commented on #20
@diamondr @moosedube @mollyschnell @handbury @Rahkovsky ,
Rebecca finished some final touches to make the MATLAB code most readable. (Thanks Rebecca!) I just took those and made new replication files: dropbox/FoodDeserts/Replication/FoodDeserts_Replication.zip. These are good to post on our websites.
Closing this issue!

[2019-07-03 16:48] #20 closed

[2019-07-03 16:53] moosedube commented on #20
Is there a zip file with the code library to post online?  I am happy to put this on my research page.

JP

From: Hunt Allcott <notifications@github.com>
Sent: Wednesday, July 03, 2019 11:49 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Revise str

[2019-07-03 17:03] huntallcott commented on #20
Yes: dropbox/FoodDeserts/Replication/FoodDeserts_Replication.zip.
Let me know if this is not what you meant?

[2019-07-03 17:13] moosedube commented on #26
Just reached out to our Booth communications team.

From: Hunt Allcott <notifications@github.com>
Sent: Wednesday, July 03, 2019 10:36 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Assign <assign@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Submit op-ed (#26)

Assigned #26<https://github.com/huntallcott/Food

[2019-07-12 11:08] huntallcott commented on #26
@moosedube just following up here. How is Booth doing on this? Thanks.

[2019-07-12 11:39] moosedube commented on #26
The communications folks have reached out to various outlets. I have not heard back from them since Monday.

JP

From: Hunt Allcott <notifications@github.com>
Sent: Friday, July 12, 2019 6:09 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Submit op

[2019-07-12 21:56] moosedube commented on #26
Hi folks,

Just talked to our communications liaison.  NY Times was not interested.  So she will reach out to Washington Post and Wall Street Journal.  Part of the problem is that the press (e.g., Economist) has already written about our findings. Apparently, NY Times likes to be “first” to get the scoop.

If these leads do not pan out, would you be open to CNN?  Apparently, they are ramping up th

[2019-07-13 11:32] huntallcott commented on #26
@moosedube thanks for keeping on top of this.
The NYU press guy has said the same thing, and so I suspect that the Post and Journal may also respond in this way.
So yes, after we get rejected from any top print outlets, I am totally happy to go to CNN, Vox, Quartz, Bloomberg, smaller newspapers (Chicago Tribune, LA Times) and others, in whatever order of highest-to-lowest impact that the Booth peo

[2019-07-13 11:33] moosedube commented on #26
Cool.

From: Hunt Allcott <notifications@github.com>
Sent: Saturday, July 13, 2019 6:33 AM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Submit op-ed (#26)

@moosedube<https://github.com/moosedube> thanks for keeping on top of this.
The NYU press guy

[2019-07-25 19:04] huntallcott commented on #26
@moosedube just checking -- are you staying on top of the Booth people as they circulate this?
The NYU guy was very good at communicating with us about where he was submitting this and then submitting to another place after rejection -- I just want to make sure that the Booth people are moving this forward?

[2019-07-25 19:09] moosedube commented on #26
Sorry just got back from out of town. I will follow up again.  I checked in on Friday.

JP

From: Hunt Allcott <notifications@github.com>
Sent: Thursday, July 25, 2019 2:04 PM
To: huntallcott/FoodDeserts <FoodDeserts@noreply.github.com>
Cc: Dube, Jean-Pierre <Jean-Pierre.Dube@chicagobooth.edu>; Mention <mention@noreply.github.com>
Subject: Re: [huntallcott/FoodDeserts] Submit op-ed (#26)

@moosedu

[2019-08-04 12:03] huntallcott commented on #26
@moosedube I hope you're doing great, and I'm just checking in on the op-ed. What did you hear from the Booth people? I'm starting to wonder if we should give this to the NYU people?